//Hide blue outline
a:focus, button:focus {outline:0 !important;}

.center-button {
	display: flex;
	justify-content: center;
	align-items: center;
}
//-Ghost Buttons
.btn-t-white-full {
	margin-top: 20px;
	font-weight: $font-weight-medium;
	font-family: $font-h;
	font-size: $font-size-btn;
	text-transform: uppercase;
	background: $color-white;
	color: $color-blu-sugar;
	transition: all 0.2s ease-in-out;
	border: 2px solid $color-blu-sugar;
	border-radius: 0px;
	padding: 10px 25px;
	transition: all 0.4s ease-in-out;
	&:hover, &:focus, &:active, &.active {
		color: $color-white;
		border: 2px solid $color-white;
		background-color: transparent;
	}
}
.btn-t-white {
	margin-top: 20px;
	font-weight: $font-weight-medium;
	font-family: $font-h;
	font-size: $font-size-btn;
	text-transform: uppercase;
	background: transparent;
	color: $color-white;
	transition: all 0.2s ease-in-out;
	border: 2px solid $color-white;
	border-radius: 0px;
	padding: 10px 25px;
	transition: all 0.4s ease-in-out;
	&:hover, &:focus, &:active, &.active {
		color: $color-black;
		border: 2px solid $color-white;
		background-color: $color-white;
	}
}

.btn-t-blue {
	margin-top: 20px;
	font-weight: $font-weight-medium;
	font-family: $font-h;
	font-size: $font-size-btn;
	text-transform: uppercase;
	background: transparent;
	color: $color-black;
	transition: all 0.2s ease-in-out;
	border: 2px solid $color-black;
	border-radius: 0px;
	padding: 10px 25px;
	transition: all 0.4s ease-in-out;
	&:hover, &:focus, &:active, &.active {
		color: $color-white;
		border: 2px solid $color-black;
		background-color: $color-black;
	}
}

.btn-t-blue-light {
	margin-top: 20px;
	font-weight: $font-weight-medium;
	font-family: $font-h;
	font-size: $font-size-btn;
	text-transform: uppercase;
	background: $color-white;
	color: $color-blu-light;
	transition: all 0.2s ease-in-out;
	border: 2px solid $color-blu-light;
	border-radius: 0px;
	padding: 10px 25px;
	transition: all 0.4s ease-in-out;
	&:hover, &:focus, &:active, &.active {
		color: $color-white;
		border: 2px solid $color-blu-light;
		background-color: $color-blu-light;
	}
}
//-.btn-t-white {
//-	margin-top: 20px;
//-	font-weight: $font-weight-medium;
//-	font-family: $font-h;
//-	font-size: $font-size-btn;
//-	text-transform: uppercase;
//-	letter-spacing: 0.5px;
//-	background: transparent;
//-	color: $color-white;
//-	border: 2px solid $color-white;
//-	padding: 10px 25px;
//-	transition: all 0.4s ease-in-out;
//-}
//-.btn-t-white:hover,
//-.btn-t-white:focus,
//-.btn-t-white:active,
//-.btn-t-white.active,
//-.open .btn-t-white {
//-	color: $color-gray-dark;
//-	border: 2px solid $color-white;
//-	background-color: $color-white;
//-	cursor: pointer !important;
//-}
