//-Case Studies
section.case_study-splash {
	position: relative;
	overflow: hidden;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin-bottom: 0px;
	.testi-wrapper {
		@media (max-width:768px) {
			margin-top: -100px;
		}
	}
	p, h1, h2 {
		padding-left: 55px;
		padding-right: 10px;
		@media (max-width: 767px) {
			padding-left: 35px;
		}
		// padding-right: 60px;
		color: $color-white;
		max-width: 800px;
	}
	h1 {
		font-size: $font-h1-big;
		@media (min-width:0px) and (max-width: 320px) {
			font-size: ($font-h1 * 0.8);
		}
		@media (min-width:321px) and (max-width: 767px) {
			font-size: $font-h1;
		}
	}
	h2 { margin-bottom: -20px;}
	&.kager {
		height: 100vh;
		width: 100%;
		background:
			linear-gradient(
			rgba($color-black, 0.7),
			rgba($color-black, 0.7)
			),
			url("../img/case_studies/kager/kager_splash.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		//-filter: grayscale(100%);
		img.brand {
			width: 240px;
			padding-left: 55px;
			@media (max-width: 767px) {
				width: 160px;
				padding-left: 35px;
			}
			padding-top: 40px;
		}
	}
	&.linkem {
		height: 100vh;
		width: 100%;
		position: relative;
		// background-color: $color-green-fluo;
		background:
      linear-gradient(
			rgba($color-black, 0.7),
			rgba($color-black, 0.7)
			),
		  url("../img/case_studies/linkem/linkem_splash.jpg");
		background-repeat: no-repeat;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		// background-blend-mode: darken;
		// filter: contrast(1);
		// opacity: 1;
		// 	&::after {
		// 	background-color: $color-blu-night-bis;
		// 	mix-blend-mode: lighten;
		// 	content: '';
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100vh;
		// 	top: 0;
		// 	left: 0;
		// }
		//-filter: grayscale(100%);
		img.brand {
			width: 210px;
			padding-left: 55px;
			@media (max-width: 767px) {
				width: 160px;
				padding-left: 35px;
			}
			padding-top: 50px;
		}
	}
	&.lml {
		height: 100vh;
		width: 100%;
		position: relative;
		//-background-color: $color-red;
		background:
					linear-gradient(
					rgba($color-black, 0.7),
					rgba($color-black, 0.7)
					),url("../img/case_studies/lml/lml_splash.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center right;
		//-background-blend-mode: darken;
		//-filter: contrast(1);
		opacity: 1;
		//-	&::after {
		//-	background-color: $color-blu-night;
		//-	mix-blend-mode: lighten;
		//-	content: '';
		//-	position: absolute;
		//-	width: 100%;
		//-	height: 100vh;
		//-	top: 0;
		//-	left: 0;
		//- }
		img.brand {
			width: 240px;
			padding-left: 55px;
			@media (max-width: 767px) {
				width: 160px;
				padding-left: 35px;
			}
			padding-top: 50px;
		}
	}
	&.kudos {
			height: 100vh;
			width: 100%;
			background:
				linear-gradient(
				rgba($color-black, 0.7),
				rgba($color-black, 0.7)
				),
				url("../img/case_studies/kudos/kudos_splash.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			//-filter: grayscale(100%);
			img.brand {
				width: 240px;
				padding-left: 55px;
				@media (max-width: 767px) {
					width: 160px;
					padding-left: 35px;
				}
				padding-top: 60px;
			}
		}
	.scroll-down {
		@media (max-width: 767px) {
			bottom:75px;
		}
	}
}

//-Blocco Hero
section.case_study-hero {
	margin-top: 70px;
	margin-bottom: 70px;
	h1 {
		//-font-weight: $font-weight-medium;
		margin-bottom: 40px;
	}
	h2 {
		margin-top: -20px;
		margin-bottom: 30px;
	}
	img {
		@extend .responsive-img;
		@extend .block-center;
	}
}

//-Stock Images
section.case_study-stock {
	margin-top: 40px;
	margin-bottom: 40px;
	img {
		@extend .responsive-img;
		@extend .block-center;
	}
}

//-Mockup
section.case_study-mockup {
	background-color: $color-blu-sugar;
	padding-top: 70px;
	padding-bottom: 50px;
	margin-top: 20px;
	margin-bottom: 0px;
	&.no-bg {
		background: none;
	}
	img {
		@extend .responsive-img;
		@extend .block-center;
	}
}

//Addiitional
section.case_study-additional {
	.container {
		.row {
			position:relative;
		}
		.sinistra {
			padding-top: 40px;
			padding-bottom: 70px;
		}
	}
	img.frontale {
		position:absolute;
		bottom:0;
		right:-15%;
	}
	h1 {
		//-font-weight: $font-weight-medium;
		margin-bottom: 40px;
	}
	h2 {
		margin-top: -20px;
		margin-bottom: 30px;
	}
}

//-Visit and More
.visit {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 60px;
}
.prevnext {
	.container-fluid {
		margin: 0;
		padding: 0;
	}
	background-color: $color-blu-fog;
	img.freccina{
		width: 10px;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 3px;
		height: auto;
		display: inline-block;
		transition: all 0.8s ease;
	}
	p {
		display: inline-block;
		color: $color-white;
		transition: all 0.5s ease;
		margin: 0;
	}
	.right {
		text-align: center;
		padding: 50px;
		background-size: 200% 200%;
		background-position: 100% 0;
		background-image:
		linear-gradient(to right, $color-blu-dark 50%, transparent 50%);
		transition: background-position 2300ms, color 2300ms ease;
		&:hover {
			background-position: 0 100%;
			background-image: linear-gradient(to right, $color-blu-dark 50%, transparent 50%);
			transition: background-position 1300ms, color 1300ms ease;
			a {
				color: $color-blu-sugar;
				transform: scale(1.05);
			}
			img.freccina {
				transform: translate(15px,0px);
			}
		}
	}
	.left {
		text-align: center;
		padding: 50px;
		background-size: 200% 200%;
		background-position: -100% 0;
		background-image:
		linear-gradient(to right, $color-blu-dark 50%, transparent 50%);
		transition: background-position 2300ms, color 2300ms ease;
		&:hover {
			background-position: 0 -100%;
			background-image: linear-gradient(to right, $color-blu-dark 50%, transparent 50%);
			transition: background-position 1300ms, color 1300ms ease;
			a {
				color: $color-blu-sugar;
				transform: scale(1.05);
			}
			img.freccina {
				transform: translate(-15px,0px);
			}
		}
	}
}
