/*!
|
|	 The "Netmilk Studio" Project
|	 info@netmilk.ch
|
|	 Ex ungue leonem.
|
*/
.splash-wrapper {
	position: fixed!important;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.page-wrapper {
	position: absolute;
	height:100%;
	width: 100%;
	margin: 0;
	padding: 0;
	top:100%;
}

//-Splash
.homesplash {
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	margin-bottom: 0px;
	background-image: url(../img/cowbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
	.tagline {
		width: 500px;
		margin: 0 auto;
		margin-top:-100px;
		padding: 0px 25px;
		@extend .responsive-img;
	}
	.titoli {
		padding-top: 40px;
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		h1 {
			text-transform: uppercase;
			display:inline !important;
			color: $color-white;
			text-align: center;
		}
	}
}

//-Cursore lampeggiante per Typed.js
.typed-cursor{
	font-size: 40px;
	text-align: center;
	color: $color-white;
		opacity: 1;
		animation: blink 0.7s infinite;
}
.title-caption {
	text-align: center;
}
@keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-webkit-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-moz-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}

.ancora {
	width: 40px;
	margin: 0 auto;
	padding-bottom: 30px;
}

//-Clicca o Scorri
.cliccaoscorri {
	position: absolute;
	left: 52%;
	bottom: 95px;
	z-index: 2;
	img {
		width: 260px;
		max-width: 260px;
	}
}

//-Blocco Intro
section.hero {
	.container-fluid {
		margin:0 ! important;
		padding:0 ! important;
	}
	padding-top:60px;
	padding-bottom:0px;
	margin: 0;
	position: relative;
	.titoli {
		@extend %titoli-bifont;
			h1 {
				text-align: center;
				font-size: $font-h1-verybig;
				margin-bottom: 10px;
				}
			.serif {color: $color-blu-base;margin-right:-13px!important;}
			.sans {color: $color-turq;}
	}
	h2 {
		color: $color-blu-dark;
		text-align: center;
		font-family: $font-h-alt;
		font-style: italic;
	}
	p {
		text-align: center;
		color: $color-blu-dark;
		font-weight: $font-weight-bold;
		//-@media (min-width: 1400px) {font-size: ($font-size-body * 1.25);}
		&.intro {
			font-size: ($font-size-body * 1.5);
			padding-bottom: 40px;
		}
		&.outro {
			font-size: ($font-size-body * 1.5);
			padding-top: 30px;
			padding-bottom: 60px;
		}
	}
	.container-icone {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row;
		flex-wrap: wrap;
		padding-bottom: 80px;
		.icona {
			width: 300px;
			ul {
				padding-top: 10px;
				text-align: center;
				li {
					color: $color-blu-dark;
				}
			}
		}
	}
	img {
		&.servizi {
			@extend .responsive-img;
			@extend .block-center;
			width:140px;
			max-width: 140px;
			padding-bottom: 0px;
		}
	}
	.goccioloni-wrapper {
		img {
			width: 100%;
			border-left: 1px solid $color-black;
			border-right: 1px solid $color-black;
			border-bottom: 1px solid $color-black;
			@extend .responsive-img;
			@extend .block-center;
		}
	}
}

//-Case Studies
.case-studies-wrapper {
	background-color: $color-black;
	padding-bottom: 80px;
	.titoli {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 2;
		margin-top: -70px;
		@media (max-width: 768px) {
			margin-top: -30px;
		}
		@extend %titoli-bifont;
			h2 {
				margin-top:0;
				color: $color-white;}
			h1 {
				margin: 0;
				text-align: center;
				font-size: $font-h1-verybig;
				}
			.serif {color: $color-turq;}
			.sans {color: $color-white;}
	}
	.contenitore-case {
		margin:0;
		padding:0;
		margin-top: 110px;
	}
	p {
		color:$color-white;
		margin-top: 60px;
	}
	.center-button {
		margin-top: 10px;
	}
}
.case-studies-wrapper, .portfolio-wrapper{
	.row {padding: 0px 0px;}
	 [class*='col-'] {
		 padding:0px;
	 }
 .case-container {
		overflow-y: hidden;
		margin-bottom: 0px;
		position:relative;
			img.foto {
				//-@extend .ombra-box;
				width:100%;
				max-width:100%;
			}
	}
	.case-hover {
		opacity: 0;
		display:flex;
		justify-content:center;
		align-items: center;
		flex-flow: column;
		text-align:center;
		position:absolute;
		top:0; left:0; right:0; bottom:0;
		transition: opacity 0.7s ease-in-out;
		&:hover {
			opacity: 1;
			h2 {
				transform: translateY(0%);
			}
		}
		.case-logo {
			width:40%;
			max-width: 200px;
		}
		h2 {
			transition: all .6s cubic-bezier(.68,-.55,.265,1.55);
			transform: translateY(-160%);
			padding: 5px 35px 0px 35px;
			color:$color-white;
			font-family: $font-h;
			font-weight: $font-weight-light;
			font-size: $font-h2-xsmall;
			@media only screen and (min-width: 911px) and	(max-width: 1000px) {
				font-size:$font-h2-xsmall;
			}
			@media only screen and (min-width: 750px) and	(max-width: 910px) {
				display:none;
			}
			@media only screen and (max-width: 480px) {
				display:none;
			}
		}
	}
	.no-touch {
		opacity: 1;
	}
	.primo {
		background: rgba($color-blu-base, 0.80);
		background: linear-gradient(45deg, rgba($color-blu-base, 0.95) 50%, rgba($color-blu-base, 0.80) 50%);
	}
	.no-touch.primo {
		background: rgba($color-blu-base, 0.55);
		background: linear-gradient(45deg, rgba($color-blu-base, 0.90) 50%, rgba($color-blu-base, 0.50) 50%);
	}
	.secondo {
		background: rgba($color-magenta, 0.75);
		background: linear-gradient(45deg, rgba($color-magenta, 0.95) 50%, rgba($color-magenta, 0.75) 50%);
	}
	.no-touch.secondo {
		background: rgba($color-magenta, 0.75);
		background: linear-gradient(45deg, rgba($color-magenta, 0.90) 50%, rgba($color-magenta, 0.50) 50%);
	}
	.terzo {
		background: rgba($color-green, 0.75);
		background: linear-gradient(45deg, rgba($color-green, 0.95) 50%, rgba($color-green, 0.75) 50%);
	}
	.no-touch.terzo {
		background: rgba($color-green, 0.75);
		background: linear-gradient(45deg, rgba($color-green, 0.90) 50%, rgba($color-green, 0.50) 50%);
	}
	.quarto {
			background: rgba($color-green, 0.75);
			background: linear-gradient(45deg, rgba($color-green, 0.95) 50%, rgba($color-green, 0.75) 50%);
	}
	.no-touch.quarto {
			background: rgba($color-green, 0.95);
			background: linear-gradient(45deg, rgba($color-green, 0.90) 50%, rgba($color-green, 0.70) 50%);
	}
}

.portfolio-wrapper {
	padding-top: 100px;
	padding-bottom: 0px;
	background-color: $color-white;
	padding-top:15px;
	.titoli {
		padding-bottom: 70px;
		padding-top: 60px;
		@extend %titoli-bifont;
			h2 {
				margin-top:0;
				div {
					display:inline-block;
					margin:0 4px;
				}
			}
			h1 {
				margin:0;
				text-align: center;
				font-size: $font-h1-verybig;
				}
			.serif {color: $color-blu-dark;margin-right:-18px!important;}
			.sans {color: $color-turq;}
	}
	.case-container {
			@extend .ombra-box-light;
			img{
				filter: none; /*Returns to default state*/
				transition: filter 0.3s ease;
			}
		&:hover {
			img {
				overflow:hidden;
				filter: grayscale(100%)	brightness(1.25);
			}
		}
	}
	.case-hover {
		h3, h4 {
			color:$color-white;
			font-weight: $font-weight-light;
			margin:0;
			padding:0;
		}
		h3 {
			transition: all .5s cubic-bezier(.68,-.55,.265,1.55);
			transform: translateY(-100%);
			font-weight: $font-weight-medium;
		}
		h4 {
			margin:5px 0 7px 0;
			font-weight: $font-weight-light;
			transition: all .8s cubic-bezier(.68,-.55,.265,1.55);
			transform: translateY(-50%);
		}
		&:hover {
			h3,h4 {
				transform: translateY(0%);
			}
		}
	}
	.colore {
		background: rgba($color-blu-base, 0.80);
	}
}

//-Portfolio Cards
.project {
	width: 100%;
	float: left;
	cursor: pointer !important;
	padding-bottom:10px;
	padding-top:10px;
	&:not(:last-child) {
		margin-right: 4%;
	}
}

.project-list:after {
	content: " ";
	display: block;
	clear: both;
}

.project__image {
	display: block;
	position: relative;
	img {
		width: 100%;
		@extend .responsive-img;
		@extend .block-center;
	}
	&:after {
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(rgba($color-true-black, 0.7), rgba($color-true-black, 0.7));
		transition: opacity .3s ease;
		opacity: 0;
	}
}

.project__card {
	position: relative;
	will-change: transform;
	transition: box-shadow .3s ease;
	box-shadow: 0 10px 30px transparent;
	&.hover-in {
		transition: transform .2s ease-out;
	}
	&.hover-out {
		transition: transform .2s ease-in;
	}
}

.project:hover {
	.project__card {
		box-shadow: 0 10px 30px rgba($color-true-black, 0.4);
	}
	.project__image:after {
		opacity: 1;
	}
	.project__detail {
		border-width: 5px;
		transform: translateZ(45px);
		transform-style: preserve-3d;
		box-shadow: 0 10px 30px rgba($color-true-black, 0.4);
	}
	.project__title, .project__category {
		transform: translateY(0) scale(1) !important;
		opacity: 1;
	}
}

.project__detail {
	position: absolute;
	left: 30px;
	right: 30px;
	top: 25px;
	bottom: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	pointer-events: none;
	border: 0 solid $color-white;
	transition: border .4s ease;
}

.project__title {
	margin: 0 0 10px;
	transition: .4s ease;
	opacity: 0;
	transform: translateY(10px) scale(0) !important;
	transform-style: preserve-3d;
	will-change: transform;
	h3 {
		color: $color-white;
	}
}

.project__category {
	opacity: 0;
	transition: .8s ease;
	transition-delay: .1s;
	transform: translateY(10px) scale(0) !important;
	transform-style: preserve-3d;
	will-change: transform;
	p {
		color: $color-white;
	}
}

// Chi Siamo Link
section.chisiamo_reminder {
	background-color: $color-blu-dark;
	padding-bottom: 60px;
	position: relative;
	overflow: hidden;
	.titoli {
		padding-bottom: 30px;
		@extend %titoli-bifont;
			h1 {
				text-align: center;
				font-size: $font-h1-verybig;
				}
			h2 {
				margin-top: -10px;
				margin-bottom: 10px;
				color: white;
			}
			.serif {color: $color-white;margin-right:-13px!important;}
			.sans {color: $color-turq;}
	}
	p {
		margin-bottom: 40px;
		color:white;
		font-size: $font-size-large;
		line-height: 1.50em;
	}
	button {
		@extend .block-center;
	}
}
.homangolo_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -100px;
  margin-bottom: -100px;
  background: $color-white;
  width: 120%;
	@media (max-width: 650px) {
		width: 150%;
	}
  height: 150px;
  animation: homangolo_bottom_a 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
}
.homangolo_top {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -100px;
  margin-top: -100px;
  background: $color-black;
  width: 120%;
	@media (max-width: 650px) {
		width: 150%;
	}
  height: 150px;
  transform: rotate(12deg);
  animation: homangolo_top_a 13s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
}
@keyframes homangolo_bottom_a {
  0% {transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);}
  25% {transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);}
  50% {transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);}
  75% {transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);}
  100% {transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);}
}
@keyframes homangolo_top_a {
  0% {transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);}
  25% {transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);}
  50% {transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);}
  75% {transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);}
  100% {transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);}
}


// Showcase
section.showcase {
	padding-top: 0px;
	padding-bottom: 60px;
	background-color: $color-white;
	.row {
		margin:-5px 0;
	}
	.titoli {
		padding-bottom: 60px;
		padding-top: 30px;
		@extend %titoli-bifont;
			h2 {
				margin-top:0;
				div {
					display:inline-block;
					margin:0 4px;
				}
			}
			h1 {
				margin:0;
				text-align: center;
				font-size: $font-h1-verybig;
				}
			.serif {color: $color-blu-dark;margin-right:-18px!important;}
			.sans {color: $color-turq;}
	}
	.foto {
		@extend .responsive-img;
		@extend .ombra-box-light;
		transition: all 0.5s ease-in-out;
		margin-bottom: 20px;
		&:hover {
			@extend .ombra-box;
			transform: scale(1.1);
		}
	}
}

// Carousel
section.carousel {
	background-color: $color-white;
	padding-top: 40px;
	padding-bottom: 40px;
	.wrapper-custom {
		padding:20px;
		width:98%;
		margin: 0 auto;
		.slider {
			.contenuto {
				width:200px;
				margin: 0 18px;
			}
		}
		.slick-slider {
			.slick-next:before, .slick-prev:before {
				visibility: hidden;
			}
			// .slick-slide {
			// 	.contenuto {
			//     margin: 10px;
			//     position: relative;
			//     text-align: center;
			// 	}
			// }
		}
		.titoli {
			padding-bottom: 70px;
			padding-top: 60px;
			@extend %titoli-bifont;
			h2 {
				margin-top:0;
				padding-bottom: 40px;
				div {
					display:inline-block;
					margin:0 4px;
				}
			}
			h1 {
				margin:0;
				text-align: center;
				font-size: $font-h1-verybig;
				}
			.serif {color: $color-blu-dark;margin-right:-18px!important;}
			.sans {color: $color-turq;}
		}
	}
}

//-Shooting
section.shooting {
	padding-top: 60px;
	padding-bottom: 80px;
	background: $color-gray-light;
	.titoli {
		padding-bottom: 40px;
		@extend %titoli-bifont;
		text-align: center;
		.serif {color:$color-white;}
		.sans {color:$color-blu-light;}
	}
	.vidbg-overlay {
		bottom:-1px!important;
	}
	p { color:white;}
	h1 {font-size: $font-h1-verybig;}
	h2 {text-align: center;color:$color-white;}
	.container-icone {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row;
		flex-wrap: wrap;
		padding-top: 40px;
		padding-bottom: 50px;
		.icona {
			width: 300px;
			@media (max-width: 414px) {
				width: 160px;
				max-width: 160px;
			}
			ul {
				text-align: center;
				li {
					color: $color-white;
				}
			}
		}
	}
	img {
		&.servizi {
			@extend .responsive-img;
			@extend .block-center;
			width:140px;
			max-width: 140px;
			padding-bottom: 0px;
			@media (max-width: 414px) {
				width: 110px;
				max-width: 110px;
			}
		}
	}
}
