//-Case Studies
.bluebox {
	position: absolute;
	z-index: 199;
	top:33px;
	right:55px;
	width:40px;
	height:31px;
	border-radius: 4px;
	background-color: $color-blu-base;
}
section.netmilk_studio {
	position: relative;
	overflow: hidden;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	margin-bottom: 0px;
	text-align: center;
	h1 {
		margin-top: -60px;
		line-height: 0.8em;
		@media (max-width:414px) {
			margin-top: 0;
			line-height: 1em;
		}
		font-size: $font-h1-verybig;
		color: $color-blu-dark;
	}
}

section.mammatriangola {
  background: $color-white;
  position: relative;
  width: 100%;
  // height: 100vh;
  overflow: hidden;
	padding-top: 80px;
	.titoli {
		padding-bottom: 30px;
		@extend %titoli-bifont;
			h1 {
				text-align: center;
				font-size: $font-h1-verybig;
				}
			h2 {
				margin-top: -10px;
				margin-bottom: 10px;
			}
			.serif {color: $color-blu-base;margin-right:-13px!important;}
			.sans {color: $color-turq;}
	}
	.matite {
		margin-top: 40px;
  	.cerchio {
	    width: 33%; height: auto;
	    min-width: 150px;
	    max-width: 450px;
	    float: left;
	    margin-right:2rem;
	    border-radius: 50%;
	    shape-outside:circle();
	  }
		p {
			padding-top: 20px;
			@media (min-width: 768px) {font-size: $font-size-large;}
		}
	}
	.cosafacciamo {
		margin-top: 50px;
		.imgswitch {
			&.design {
				// background-image: url('../img/studio/icon_web_bozza.png');
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				img {
					max-width: 500px;
					@extend .center-block;
					@extend .responsive-img;
					// transition: opacity 1s linear;
					// &:hover {
					// 	opacity:0;
					// }
				}
			}
			&.web {
				background-image: url('../img/studio/icon_web_bozza.png');
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				img {
					max-width: 500px;
					@extend .center-block;
					@extend .responsive-img;
					transition: opacity 1s linear;
					&:hover {
						opacity:0;
					}
				}
			}
			&.photo {
				background-image: url('../img/studio/icon_photo_bozza.png');
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				img {
					max-width: 500px;
					@extend .center-block;
					@extend .responsive-img;
					transition: opacity 1s linear;
					&:hover {
						opacity:0;
					}
				}
			}
			&.stampa {
				background-image: url('../img/studio/icon_stampa2_bozza.png');
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				img {
					max-width: 500px;
					@extend .center-block;
					@extend .responsive-img;
					transition: opacity 1s linear;
					&:hover {
						opacity:0;
					}
				}
			}
		}
		p {
			z-index: 100;
			font-size: $font-size-large;
			font-weight: 500;
			margin-bottom: 60px;
		}
		em {
			font-family: $font-h-alt;
			font-weight: 300;
			font-style: italic;
			// font-size: $font-size-small;
		}
	}
	.risultati {
		margin-top: 80px;
		margin-bottom: 80px;
		p {
			margin-top: 20px;
			@media (min-width: 1024px) {
				padding-left: 40px;
				padding-right: 40px;
			}
		}
		img {
			max-width: 250px;
		}
	}
	.privacy {
		p {
			border: 1px dashed $color-blu-base;
			padding: 35px;
			text-align: center;
			background-image: url('../img/privacy.png');
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			button {
				margin-top: 40px;
				margin-bottom: 10px;
			}
		}
		margin-top: 40px;
		margin-bottom: 100px;
	}
}

// Triangoli
.triangolo_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -100px;
  margin-bottom: -200px;
  background: $color-blu-sugar;
	width: 120%;
	@media (max-width: 650px) {
		width: 150%;
	}
  height: 550px;
  animation: triangolo_bottom_a 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
}
.triangolo_top {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -100px;
  margin-top: -150px;
  background: $color-blu-sugar;
	width: 120%;
	@media (max-width: 650px) {
		width: 150%;
	}
  height: 350px;
  transform: rotate(17deg);
  animation: triangolo_top_a 20s infinite cubic-bezier(0.14, 0.36, 0.59, 0.9);
}
@keyframes triangolo_bottom_a {
  0% {transform: rotate(5deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);}
  25% {transform: rotate(8deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);}
  50% {transform: rotate(4deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);}
  75% {transform: rotate(2deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);}
  100% {transform: rotate(5deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);}
}
@keyframes triangolo_top_a {
  0% {transform: rotate(7deg) rotateZ(0deg) translate3d(2%, 5%, 0) rotateZ(0deg);}
  25% {transform: rotate(3deg) rotateZ(90deg) translate3d(2%, 5%, 0) rotateZ(-90deg);}
  50% {transform: rotate(6deg) rotateZ(180deg) translate3d(2%, 5%, 0) rotateZ(-180deg);}
  75% {transform: rotate(9deg) rotateZ(270deg) translate3d(2%, 5%, 0) rotateZ(-270deg);}
  100% {transform: rotate(7deg) rotateZ(360deg) translate3d(2%, 5%, 0) rotateZ(-360deg);}
}
