//-Asset, Color and Typographic Variables
$assetPath:                  "../";

//-Project Specific Colors
$color-white:                #FAFCFD;
$color-black:                #001b28;
$color-blu-base:             #006096;
$color-blu-light:            #458bb2;
$color-blu-dark:             #002c45;
$color-blu-fog:              #4E8CAF;
$color-blu-sugar:            #B9D3E2;
$color-turq:                 #0091E2;
$color-magenta:              #ed509a;
$color-green:                #4ba93c;
$color-orange-gold:          #ef8f09;

//-Debug
$check-color:                magenta;
$check-color-2:              green;
$check-color-3:              orange;
$check-border:               1px solid blue;

//General Colors
$color-true-white:           #fff;
$color-true-black:           #000;
$color-gray-dark:            #44464B;
$color-gray-medium:          #7F7E7E;
$color-gray-light:           #DCE4EC;
$color-body:                 $color-black;

//-Navbar
$color-nav-bg:               $color-white;
$color-nav-bg-act:           transparent;
$color-nav-txt:              $color-gray-dark;
$color-nav-txt-act:          brown;

//-Typography
//-Stolzl: 300 / 400 / 500 / 700
//-Acta Display: 300i / 400 / 400i / 700i
$font-size-body:             18px;
$font-size-small:            16px;
$font-size-large:            22px;
$line-height-body:           1.4em;
$font-size-fallback:         768px;
$font-size-nav:              18px;
$font-size-btn:              ceil(($font-size-body * 0.8));
$font-nav:                   "stolzl", sans-serif;
$font-h:                     "stolzl", sans-serif;
$font-h-alt:                 "acta-display", serif;
$font-body:                  "stolzl", serif;

//-Weights
$font-weight-thin:           100;
$font-weight-light:          300;
$font-weight-regular:        400;
$font-weight-medium:         500;
$font-weight-semibold:       600;
$font-weight-bold:           700;
$font-weight-black:          900;
$font-weight-nav:            400;

//-Headings
$font-h1:                    40px;
$font-weight-h1:             700;
$font-h1-verybig:            ceil(($font-h1 * 1.8));
$font-h1-big:                ceil(($font-h1 * 1.1));
$font-h1-small:              ceil(($font-h1 * 0.8));
$font-h1-xsmall:             ceil(($font-h1 * 0.6));
$font-weight-h1-small:       700;
$font-h1-line-height:        1.2em;
$font-h-letter-spacing:      -1px;

$font-h2:                    25px;
$font-weight-h2:             400;
$font-h2-big:                ceil(($font-h2 * 1.2));
$font-h2-small:              ceil(($font-h2 * 0.8));
$font-h2-xsmall:             ceil(($font-h2 * 0.6));
$font-weight-h2-small:       400;
$font-h2-line-height:        1.3em;

$font-h3:                    22px;
$font-h3-small:              ceil(($font-h3 * 0.7));
$font-weight-h3:             500;
$font-weight-h3-small:       500;
$font-h3-line-height:        1.3em;

$font-h4:                    20px;
$font-h4-small:              ceil(($font-h4 * 0.8));
$font-weight-h4:             300;
$font-weight-h4-small:       300;
$font-h4-line-height:        1.2em;

//-Alternative Headings
$font-h1-alt:                42px;
$font-weight-h1-alt:         600;
$font-h1-alt-verybit:        ceil(($font-h1 * 1.5));
$font-h1-alt-big:            ceil(($font-h1 * 1.2));
$font-h1-alt-small:          ceil(($font-h1 * 0.8));
$font-weight-h1-alt-small:   600;
$font-h1-alt-line-height:    1em;
$font-h1-alt-letter-spacing: -2px;
$font-h1-alt-font-style:     italic;

$font-h2-alt:                18px;
$font-weight-h2-alt:         400;
$font-h2-alt-big:            ceil(($font-h2 * 1.2));
$font-h2-alt-small:          ceil(($font-h2 * 0.8));
$font-h2-alt-xsmall:         ceil(($font-h2 * 0.7));
$font-weight-h2-alt-small:   400;
$font-h2-alt-line-height:    1em;
$font-h2-alt-letter-spacing: normal;
$font-h2-alt-font-style:     italic;

$font-h3-alt:                18px;
$font-h3-alt-small:          ceil(($font-h3 * 0.8));
$font-weight-h3-alt:         500;
$font-weight-h3-alt-small:   500;
$font-h3-alt-line-height:    0.7em;

$font-h4-alt:                22px;
$font-h4-alt-small:          ceil(($font-h4 * 0.8));
$font-weight-h4-alt:         500;
$font-weight-h4-alt-small:   500;
$font-h4-alt-line-height:    0.7em;
