// servizi Page
.servizi-p-intro {
	background-color: $color-black;
	padding-top: 80px;
  padding-bottom: 50px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	.titoli {
    padding-top: 30px;
		padding-bottom: 30px;
		@extend %titoli-bifont;
			h2 {
				margin-top:0;
				color: $color-white;}
			h1 {
				margin: 0;
				text-align: center;
				font-size: $font-h1-verybig;
				}
			.serif {color: $color-turq;}
			.sans {color: $color-white;}
	}
	.breve-descrizione {
		color:$color-white;
	}
}
.elenco-servizi {
	h2 {
		margin:10px 0;
		font-size:22px;
	}
	.equal {
		padding:0;
		border-bottom:1px solid #ccc;
		@media (min-width:600px) {
			padding:60px 0;
			display: flex;
		}
	}
	.immagine {
    background-image: url('http://placehold.it/350x150');
		background-repeat:no-repeat;
		background-position: center center;
		background-size: cover;

		@media (max-width:599px) {
			height:150px;
			margin-bottom:30px;
		}
	}
	li {
		margin-bottom: 5px;
		.serv_description {
			font-size:75%;
			font-style: italic;
		}
	}
}
