.no-scroll {
	.fullscreen {
		overflow: hidden;
	}
}
.fullscreen {
	//-cursor: url("../img/cursor.png"), pointer;
	display: none;
	position: fixed;
	top:0; right:0; bottom:0; left:0;
	z-index: 1050;
	overflow-scrolling: touch;
	outline: 0;
	-webkit-transform: translate3d(0,0,0);
	overflow: scroll;

	.modal-dialog {
		margin: 0 0 0 0;
		width: 100%;
		height: 100%;
		min-height: 100%;
		padding: 0;
	}
	.modal-content {
		height: 100%;
		min-height: 100%;
		border-radius: 0;
		overflow: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(38deg, $color-white, $color-turq);
		background-size: 400% 400%;
		animation: GradienteAnimato 9s ease infinite;
		@keyframes GradienteAnimato {
				0%{background-position:99% 0%}
				50%{background-position:2% 100%}
				100%{background-position:99% 0%}
		}
		.modal-header {
			position: fixed;
			top: 60px;
			right: 55px;
			@media (max-width: 767px) {
				right: 35px;
			}
			border:0;
			.chiudi {
				padding:0!important;
				opacity: 0.5;
				img {height: 50px;}
				transition: opacity 0.5s ease;
				transition: transform 1s ease;
				&:hover {
					opacity: 1;
					transform: rotate(180deg);
				}
			}
		}
		.modal-body {
			justify-content: center;
			align-items: center;
			ul {

			}
			li {
				padding: 0 0;
				@media (max-width: 414px) {
					padding: 7px 0;
				}
				transform: scale(1);
				transition: all 0.4s ease-out;
				&:hover {
					transform: scale(1.1);
				}
			a {
				font-family: $font-h;
				font-size: $font-h1-verybig;
				@media (max-width: 768px) {
					font-size: $font-h1-big;
				}
				font-weight: $font-weight-h1;
				color: $color-blu-base;
				letter-spacing: -1px;
				transition: color .2s ease;
					&:hover {
						color: $color-white;
						//-cursor: url("../img/cursor.png"), pointer;
					}
				}
			}
		}
	}
}

//-Header
body.no-scroll {
	overflow:hidden;
}
header {
	position: fixed;
	z-index: 1100;
	width: 100%;
	height: 50px;
	color: #fff;

	.nav-open {
		height: 100%
	}
	.hamburger {
		z-index:200;
		top: 30px;
		position: absolute;
		//-right: calc(7.5% - 20px);
		right: 55px;
		@media (max-width: 768px) {
			right: 35px;
		}
		cursor: pointer;
		width: 40px;
		height: 40px;
		transition: all .5s ease;
		.line {
			width: 100%;
			height: 3px;
			background-color: #fff;
			position: absolute;
			transition: all .3s ease;
			transform: rotate(0deg);
		}
		.line.one {
				top: 0
		}
		.line.two {
				top: 6px
		}
		.line.three {
				top: 12px
		}
		.hamburger-inner {
			position: absolute;
			width: 24px;
			height: 18px;
			top: 50%;
			left: 50%;
			margin-left: -12px;
			margin-top: -9px
		}
	}
	.logo-wrapper {
		position: absolute;
		//-left: 7.5%;
		left: 55px;
		@media (max-width: 768px) {
			left: 35px;
		}
		margin-top: 0px;
		z-index: 2;
		top: -5px;
		transition: all .2s ease 0s;

		.icon-logo {
			display: inline-block;
			position: absolute;
			img {
				width:90px;
				opacity: 0;
				transition: all .2s ease 0s
			}
		}
	}
	.transition-bar-wrapper {
		width: 100%;
		height: 4px;
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 0;
		transition: all .6s ease;
		opacity: .95;
		.animated-bar {
			// background-color: rgb(0, 96, 150);
			visibility: inherit;
			opacity: 1;
			transform: translate3d(0px, 0px, 0px);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				transition: background-color .6s ease;
		}
	}
	.header-contents {
		position: relative;
		z-index: 1100;
	}
}

header.header-bg-active {
	.transition-bar-wrapper {
		height: 60px;
		@extend .ombra-box-light;
	}
	.animated-bar {
		display: block;
		background-color: rgba($color-white, 1)!important;
	}
	.logo-wrapper {
		top: 12px;
		transition: all .4s ease-in-out .2s!important;
		.icon-logo {
			color: #ff0000!important;
			img{
				opacity: 1;
				transition: all .3s ease-in-out .2s!important
			}
		}
	}
	.hamburger {
		top: 13px;
		.line {
			background-color: $color-blu-base!important;
		}
	}
}


header.nav-open-pre {
	.logo-wrapper {
		opacity:0;
	}
	.hamburger {
		background-color: rgba(0, 133, 173, 0.5)!important;
		border-radius:50%;
		transition: transform 1s ease 0s;
		transform: rotate(0deg);
		&:hover {

		}
		.hamburger-inner {
			position: absolute;
			width: 24px;
			height: 24px;
			top: 50%;
			left: 50%;
			margin-left: -12px;
			margin-top: -8px
		}
		.line {
			background-color: #CEE2E2!important
		}
		.line.one {
			top: 6px;
			transform: rotate(45deg);
		}
		.line.two {
			opacity: 0
		}
		.line.three {
			top: 6px;
			transform: rotate(-45deg);
		}
	}
	.hamburger.girabile {
		transform: rotate(180deg);
		transition: transform 1s ease 0s!important;
	}
}

header:not(.nav-open-pre) {
	.hamburger:hover {
		.line.one {
			top: -2px
		}
		.line.three {
			top: 14px
		}
	}
}
