//-Anti Aliasing per i Font
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


//-Tools
@media (min-width: 768px) {
	.vertical-align { //-Apply to .row (bootstrap)
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

//-Shadow
.ombra-box {box-shadow: 0px 4px 20px -3px rgba($color-black,0.8);}
.ombra-box-light {box-shadow: 0px 2px 10px -3px rgba($color-black,0.4);}

//-Responsive
.block-center {
	display: block;
	margin: auto;
}
.responsive-img {
	width:100%;
	max-width: 100%;
	height: auto;
}

//-Remove Gutter from Columns
	[class*="nogutter"] {
		@media (min-width: 768px) {
		margin: 0 !important;
		padding: 0 !important;
	}
	}

//-Logo Netmilk (Pagine Interne)
.nm-logo {
	position: absolute;
	width: 100px;
	top:25px;
	left:55px;
	@media (max-width: 768px) {
		left:35px;
	}
	z-index:2;
}

//-Arrow Icon
.freccia {
	&:hover {
		&:after {
			margin-left: 10px;
		}
	}
	&:after {
		content: url("../img/icons/arrow.svg");
		margin-top: -4px;
		margin-left: 6px;
		padding: 0;
		transition: all 0.2s ease-in-out;
	}
}

//-Per evitare problemi di scrolling orizzontale con Swiper.js
body {overflow-x: hidden;}

.grid {
	background: #DDD;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

//-Scroll Down Icon
.scroll-down {
		position: absolute;
		left: 50%;
		margin-left: -20px;
		width: 40px;
		height: 40px;
		bottom: 35px;
		padding-left: 7px;
		cursor: pointer;
		z-index: 2;
		&.white {
			color: $color-white;
		}
		&.blue {
			color: $color-blu-base;
		}
		box-sizing: border-box;
		&.svg svg {
			width: 25px;
			opacity: 1;
			transition: opacity .5s
		}
		&.svg .scroller {
			&.white {
				fill: $color-white;
			}
			&.blue {
				fill: $color-blu-base;
			}
			animation: updown 1s infinite
		}
		&.svg .scroller {
			&.white {
				fill: $color-white;
			}
			&.blue {
				fill: $color-blu-base;
			}
			animation: updown 1s infinite
		}
		&.stroke {
			&.white {
				stroke: $color-white;
			}
			&.blue {
				stroke: $color-blu-base;
			}
		}
}
//-Animazione scrolldown
@-webkit-keyframes updown {
		0% {transform: translate(0, 0)}
		50% {transform: translate(0, 5px)}
		100% {transform: translate(0, 0)}
}
@-moz-keyframes updown {
		0% {transform: translate(0, 0)}
		50% {transform: translate(0, 5px)}
		100% {transform: translate(0, 0)}
}
@-o-keyframes updown {
		0% {transform: translate(0, 0)}
		50% {transform: translate(0, 5px)}
		100% {transform: translate(0, 0)}
}
@keyframes updown {
		0% {transform: translate(0, 0)}
		50% {transform: translate(0, 5px)}
		100% {transform: translate(0, 0)}
}

// Hinge Animation
.hinge {
transition: all 200ms linear;
}
.hinge:hover {
transition: all 900ms cubic-bezier(.84,-1.2,.07,2.4);
transform: translate(0px, 50px) rotate(-45deg);
}

// Drawing Logo Animator
#logo-w-ani {
	width: 450px;
	@extend .responsive-img;
  fill-opacity: 0;
	path {
		stroke: $color-white;
		fill: $color-white;
	}
	&.finished * {
		transition: all 3s linear;
		stroke: transparent;
		fill-opacity: 1;
	}
}

// Forzatura Bootstrap a 5 colonne
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-15 {
	    width: 20%;
	    float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
	    width: 20%;
	    float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
	    width: 20%;
	    float: left;
	}
}
