// Case Studies Page
.case-p-intro {
	background-color: $color-black;
	padding-top: 80px;
  padding-bottom: 150px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	.titoli {
    padding-top: 30px;
		padding-bottom: 30px;
		@extend %titoli-bifont;
			h2 {
				margin-top:0;
				color: $color-white;}
			h1 {
				margin: 0;
				text-align: center;
				font-size: $font-h1-verybig;
				}
			.serif {color: $color-turq;}
			.sans {color: $color-white;}
	}
	.thecase {
		position:relative;
		display: flex;
		flex-flow: row;
		margin: 40px 0px;
		height: 450px;
		max-width: 1200px;
		width: 90%;
		@media (max-width:700px) {
			height:650px;
		}
		.case-abstract {
			width: 60%;
			background-color: $color-white;
			padding: 40px;
			text-align: center;
			h1 {
				font-size: $font-h1-big;
        margin-bottom: -10px;
				@media (max-width:700px) {
					display:none;
				}
			}
      h3 {
        color: $color-gray-medium;
        font-weight: 400;
				@media (max-width:1024px) {
					font-size:20px;
				}
				@media (min-width:700px) and (max-width: 1023px) {
					font-size:18px;
				}
      }
			p {
				padding-top: 20px;
				padding-right: 40px;
				padding-left: 40px;;
				padding-bottom: 10px;
        		line-height: 1.45;
				// font-family: $font-h-alt;
				color: $color-gray-dark;
				font-weight: 400;
				@media (max-width:700px) {
					padding:0 0;
				}
				@media (max-width:1024px) {
					padding:15px 0;
					margin: 0;
				}
			}
			@media (max-width:700px) {
				position:absolute;
				top:50%;
				left:0;right:0; width: 100%;height:60%;
			}
		}
		.case-bg {
			display: flex;
			height:450px;
			z-index: 100px;
			width: 40%;
			align-items: flex-end;
			justify-content: flex-end;
			box-shadow: 0 20px 50px 0 rgba($color-black, .5);
			z-index: 1;
			img.case_logo {
				padding-bottom:40px;
				padding-right: 40px;
				width: 240px;
			}
			@media (max-width:700px) {
				position:absolute;
				left:0;right:0; width: 100%;height:52%;
			}
		}
		.case-kager {
			background:
						linear-gradient(
						rgba($color-black, 0.2),
						rgba($color-black, 0.5)
						),url("../img/case_studies/case_kager.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center right;
		}
		.case-linkem {
			background:
						linear-gradient(
						rgba($color-black, 0.2),
						rgba($color-black, 0.5)
						),url("../img/case_studies/case_linkem.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center right;
		}
		.case-lml {
			background:
						linear-gradient(
						rgba($color-black, 0.2),
						rgba($color-black, 0.5)
						),url("../img/case_studies/case_lml.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center right;
		}
		.case-kudos {
			background:
						linear-gradient(
						rgba($color-black, 0.2),
						rgba($color-black, 0.5)
						),url("../img/case_studies/case_kudos.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center right;
		}
	}
}
