//-Iconcina di caricamento
.loading-icon {
	z-index:20001;
	position: fixed;
	top: 50%; left:49.7%;
	width: 100px; margin-left:-50px;
	height:100px; margin-top: -50px;
	transition: opacity .5s ease-in-out, top .5s ease-in-out;
	opacity:1;
}
@media only screen and (max-device-width : 768px)	{
	.loading-icon {
		left:49.4%;
	}
}

.loading-icon.devouscire {
	transition: opacity .5s ease-in-out, top .8s ease-in-out;
	opacity:0;
	top:65%;
}
.loading-icon.appaiodalnulla {
	transition: opacity .5s ease-in-out, top .5s ease-in-out!important;
	opacity:0;
	top:60%;
}
.tazza {
	//-position: absolute;
	//-top: 50%;
	//-left: 50%;
	//-margin: -31px 0 0 -31px;
	svg {
		position: relative;
		z-index: 10;
		height: 62px;
		fill: #6c6;
		&.go {
			animation: saltella 1s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite;
		}
		.stop {
			animation: none;
		}
	}
	.ombra {
		position: absolute;
		bottom: 1x;
		left: 20px;
		display: block;
		width: 62px;
		height: 4px;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 100%;
		content: '';
		&.go {
			animation: shadow 1s infinite;
		}
		&.stop {
			animation: none;
		}
	}
}

@keyframes saltella {
	0% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(0.85, 1.1) translateY(-15px);
	}
}


@keyframes shadow {
	0% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(0.7, 1);
		background: rgba(0, 0, 0, 0.05);
	}
}


.bowl {
	//-position: relative;
	position: fixed;
	left:0; right:0; bottom: -1%;
	width: 100%;
	height: 108%;
	background:transparent;
	z-index:20000;
}
.bowl:before {
	overflow: hidden;
	content: "";
	position: absolute;
	width: 100%;
	height: 108%;
	z-index: 20000;
}
//-.bowl.coperto, .bowl.coperto:before {
//-	z-index:20000;
//-}
.bowl.coperto .inner {
	-webkit-transition: all 2s ease-out;
	-webkit-transform: translate3d(0, -5%, 0);
}
.bowl .inner {
	width: 100%;
	height: 105%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 2s ease-in-out;
	-webkit-transform: translate3d(0, 100%, 0);
}


.bowl .fill {
	//--webkit-animation-name: fillAction;
	//--webkit-animation-iteration-count: 1;
	//--webkit-animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
	//--webkit-animation-duration: 4s;
	//--webkit-animation-fill-mode: forwards;
}
.bowl .waveShape {
	-webkit-animation-name: waveAction;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-duration: 0.5s;
	fill: white;
}

@-webkit-keyframes fillAction {
	0% {
		-webkit-transform: translate(0, 100%);
	}
	100% {
		-webkit-transform: translate(0, 10px);
	}
}
@-webkit-keyframes waveAction {
	0% {
		-webkit-transform: translate(-50%, 0);
	}
	100% {
		-webkit-transform: translate(0, 0);
	}
}
