//-Netmilk Footer
footer {
	position:relative;
	.semitransparent {
		position:absolute;
		top:0; right:0; bottom:0; left:0;
		width:100%;
		height:100%;
		background-color: $color-white;
		opacity:0;
		z-index: 50;
	}
	.mostrami {
		position:absolute;
		top:22%;
		left:0;
		right:0;
	}

	.comincia {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		background-color: magenta;
		background-image: url('../img/milk.svg');
		background-position: center calc(100% + 1px);
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $color-blu-dark;
		box-shadow: inset 4px 20px 28px -15px rgba(0,0,0,.8);
		// width:102%;
		// margin:0 -1%;
		padding-bottom: 250px;
		padding-top: 60px;

		.container {
			@media (max-width: 992px) {
				width:90%;
			}
		}

		.col-md-6.left {
			padding-right:7.5px;
			@media (max-width: 992px) {
				padding:0!important;
			}
		}
		.col-md-6.right {
			padding-left:7.5px;
			@media (max-width: 992px) {
				padding:0!important;
			}
		}

		.titoli {
			@extend %titoli-bifont;
			text-align: center;
			h1 {
				font-size: $font-h1-verybig;
			}
			.serif {
				color: $color-turq;
			}
			.sans {
				color: $color-white;
			}
		}
		p {
			text-align: center;
			color: $color-white;
			font-size: $font-size-large;
			margin-bottom: 40px;
			padding-right: 30px;
			padding-left: 30px;
		}
		.staccidentro {
			margin: 0;
			padding: 0;
			display: flex;
			align-self: center;
		}
		.controlli {
			position:relative;
			.intl-tel-input {
				width:100%;
			}
			.selected-dial-code {
				font-size:12px;
				line-height: 1;
			}
			.avviso {
				top:0; bottom:0; right:0;
				width:100%;
				position:absolute;
				z-index:10;
			}
			input,textarea,select {
				position:relative;
				z-index:11;
				border: 2px solid transparent;
			}
			.errore {
				border:2px solid red;
			}
		}
		input {
			height:50px;
			border-radius: 5px;
		}
		textarea {
			border-radius: 5px;
			padding:14px 12px;
			height:114px;
		}
		.bootstrap-select {
			@media (max-width: 992px) {
				max-width:100%!important;
				width:100%!important;
			}
			// position:relative!important;
			// z-index:1;
		}
		.bootstrap-select button.dropdown-toggle {
			height:50px;
		}
		.dropdown-menu {
			// position:absolute!important;
			// z-index:2;
		}
		.dropdown-menu, .dropdown-menu li, .dropdown-menu li a, .dropdown-menu button {
			font-size:14px!important;
		}
		.dropdown-menu.open {
			@media (max-width: 992px) {
				margin: -3px 0;
				min-width:100%;
				max-width:100%;
				width:100%;
			}
			margin:-5px 14px;
			width:calc(100% - 14px);
			max-width:calc(100% - 14px);
		}
		.dropdown-menu.inner li a{
			padding: 10px 15px;
		}
		button.btn-t-white {margin: 30px 0px;}
	}

	.clienti {
		background-image: url('../img/milk.svg');
		background-position: center calc(100% + 1px);
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 100px;
		padding-left: 5%;
		padding-right: 5%;
		.logo-clienti {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			padding-bottom: 240px;
			img {
				align-self: center;
				height: 35px;
				margin: 18px 22px;
			}
		}
	}
	.contatti {
		background: $color-true-white;
		@media (min-width: 670px) {
			// background-image: url('../img/footer_chalet.svg'), url('../img/footer_muccona.svg');
			// background-position: 2% 65%, 95% 95%;
			// background-repeat: no-repeat, no-repeat;
			// background-image: url('../img/footer_muccona.svg');
			// background-position: 95% 95%;
			// background-repeat: no-repeat;
		}
		background-size: 28%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column;
		.footer_logo {
			img {
				width: 220px;
				@media (max-width:767px) {
					width: 160px;
					margin-top: 40px;
				}
			}
		}
		ul {
			margin-bottom: 0px;
			text-align: center;
			&.pagine {
				margin-top: 60px;
			}
			&.social {
				margin-top:30px;
				margin-bottom: 60px;
			}
			li {
				text-align: center;
				padding: 10px 15px;
				a {
					text-align: center;
					color: $color-black;
					font-family: $font-h;
					font-size: $font-size-large;
					@media (max-width: 767px) {
						font-size: $font-size-body;
					}
					text-transform: uppercase;
					img {width: 55px;}
					&:hover,&:focus,&:active {
						color:$color-blu-base
					}
				}
			}
		}
		p.copyright, a.copyright {
			padding-bottom: 30px;
			color:$color-black;
			font-size: $font-size-small;
			text-align: center;
		}
	}
}
