//-Stili in comune tra pagine diverse
.chocolat-lat-zoomable.chocolat-zoomed .chocolat-img {
  cursor: zoom-out;
}
.chocolat-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: $color-white;
  display: none;
  opacity: 1;
}
.chocolat-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1100;
}
.chocolat-zoomable .chocolat-img {
  cursor: zoom-in;
}
.chocolat-loader {
  height: 32px;
  width: 32px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  z-index: 11;
  background: url(../img/chocolat/loader.gif);
  display: none;
}
.chocolat-content {
  position: fixed;
  width: 0px;
  height: 0px;
  left: 50%;
  top: 50%;
  z-index: 14;
}
.chocolat-content .chocolat-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.chocolat-wrapper .chocolat-left {
  position: absolute;
  left: 15px;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  background: url(../img/chocolat/left.svg) 50% 50% no-repeat;
  z-index: 1001;
  display: none;
}
.chocolat-wrapper .chocolat-right {
  position: absolute;
  right: 15px;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  background: url(../img/chocolat/right.svg) 50% 50% no-repeat;
  z-index: 1001;
  display: none;
}
.chocolat-wrapper .chocolat-right.active {
  display: block;
}
.chocolat-wrapper .chocolat-left.active {
  display: block;
}
.chocolat-wrapper .chocolat-top {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  line-height: 55px;
  height: 55px;
  overflow: hidden;
  font-size: 12px;
  z-index: 1001;
}
.chocolat-wrapper .chocolat-close {
	position: absolute;
	right:15px;
	top:20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  background: url(../img/chocolat/close.svg) 50% 50% no-repeat;
}
.chocolat-wrapper .chocolat-bottom {
  position: absolute;
  bottom: -55px;
  width: 100%;
  line-height: 55px;
  height: 55px;
  font-size: 12px;
  z-index: 1001;
}
.chocolat-wrapper .chocolat-pagination {
  float: left;
  display: inline-block;
  padding-left: 15px;
}
.chocolat-wrapper .chocolat-fullscreen {
  width: 40px;
  height: 40px;
  background: url(../img/chocolat/fullscreen.svg) 50% 50% no-repeat;
  display: block;
	position: fixed;
	top: 10px;
	left: 50%;
  margin: auto;
  cursor: pointer;
}
.chocolat-content .chocolat-description {
  display: inline-block;
}
.chocolat-cover .chocolat-content .chocolat-left,
.chocolat-cover .chocolat-content .chocolat-right {
  position: fixed;
  height: 100%;
  top: 0;
  padding: 0px;
}
.chocolat-cover .chocolat-content .chocolat-right {
  right: 0px;
  background: url(../img/chocolat/right-compact.png) 100% 50% no-repeat;
}
.chocolat-cover .chocolat-content .chocolat-left {
  left: 0;
  background: url(../img/chocolat/left-compact.png) 0% 50% no-repeat;
}
.chocolat-cover .chocolat-content .chocolat-top {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
.chocolat-cover .chocolat-content .chocolat-close {
  background: url(../img/chocolat/close-compact.png) 0% center no-repeat;
}
.chocolat-cover .chocolat-content .chocolat-bottom {
  bottom: 0;
  left: 0;
  position: fixed;
  background: rgba(255,255,255,0.75);
  z-index: 1;
}
.chocolat-cover .chocolat-content .chocolat-pagination,
.chocolat-cover .chocolat-content .chocolat-description {
  padding: 0 10px;
}
body.chocolat-open>.chocolat-overlay {
  z-index: 15;
}
body.chocolat-open>.chocolat-loader {
  z-index: 15;
}
body.chocolat-open>.chocolat-content {
  z-index: 1000;
}
.chocolat-in-container .chocolat-wrapper,
.chocolat-in-container .chocolat-content,
.chocolat-in-container .chocolat-overlay {
  position: absolute;
}
.chocolat-in-container {
  position: relative;
}
