//-Tipography
body,html {height: 100%;}
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

//-Hide blue selection square
a, a:hover, a:active, a:focus {
	outline:0;
	user-select: none;
	text-decoration: none;
}

a.alt {
	font-family: $font-h-alt;
	text-transform: uppercase;
}

hr {
	//-HR Sfumata
	//-background-image: linear-gradient(left, transparent, rgba(0, 0, 0, 0.55), transparent);
	//-border: 0;
	//-height: 1px;
	border-bottom: 1px $color-gray-light solid;
}

//-Checks
.chk {background-color: $check-color;}
.chk2 {background-color: $check-color-2;}
.chk3 {background-color: $check-color-3;}
.chkb {border:$check-border !important;}

//-Hide Elements
.hidden {visibility: hidden;}
.opacity-0 {opacity: 0;}
.opacity-1 {opacity: 1;}


body, p, a {
	font-family: $font-body;
	font-size: $font-size-body;
	line-height: $line-height-body;
	@media (max-width: $font-size-fallback) {
		font-size: $font-size-small;
	}
}

::selection {
	background: $color-blu-light;
	color: $color-white;
}

.nowrap {white-space: nowrap;display: inline !important;}

figure {
	img {
		@extend .img-responsive;
		@extend .ombra-box;
	}
	figcaption.picture {
		display:block;
		margin-top: 5px;
		padding-bottom: 20px;
		font-style: italic;
		color: $color-gray-medium;
		font-size: $font-size-small;
	}
}

%titoli-bifont {
	h1 {
		span {
			transition: all .8s ease;
			&.serif {
				font-family: $font-h-alt;
				font-style: italic;
				margin-right:-15px;
				position: relative;
			}
			&.sans {
				z-index: 100;
				font-family: $font-h;
			}
			@media (min-width: 200px) and (max-width:375px) { font-size: ceil(($font-size-h1 * 0.9)); }
			@media (min-width: 376px) and (max-width:414px) { font-size: ceil(($font-size-h1 * 1.2)); }
			@media (min-width: 415px) and (max-width: 767px) { font-size: ceil(($font-size-h1 * 1.5)); }
		}
	}
	h2 {
		text-align: center;
		text-transform: uppercase;
		margin-bottom: -20px;
		@media (min-width: 200px) and (max-width:414px) { margin-top: -10px!important;}
	}
	p {margin-top: 40px;}
}

.colonne {
	&.due {
		@media (min-width: 768px) {
			column-count: 2;
			column-gap: 50px;
			column-rule-color: $color-gray-light;
			column-rule-style: solid;
			column-rule-width: 1px;
		}
	}
	&.tre {
		@media (min-width: 768px) {
			column-count: 3;
			column-gap: 50px;
			column-rule-color: $color-gray-light;
			column-rule-style: solid;
			column-rule-width: 1px;
		}
	}
}

//-Headings
h1 {font-family: $font-h;color:$color-black;letter-spacing: $font-h-letter-spacing;}
h2 {font-family: $font-h;color:$color-black;letter-spacing: normal;}
h3 {font-family: $font-h;color:$color-black;}
h4 {font-family: $font-h;color:$color-black;}

h1 {font-size: $font-h1;font-weight: $font-weight-h1;line-height:$font-h1-line-height;}
h2 {font-size: $font-h2;font-weight: $font-weight-h2;line-height:$font-h2-line-height;}
h3 {font-size: $font-h3;font-weight: $font-weight-h3;line-height:$font-h3-line-height;}
h4 {font-size: $font-h4;font-weight: $font-weight-h4;line-height:$font-h4-line-height;}
@media (max-width: $font-size-fallback) {
	h1 {font-size: $font-h1-small;font-weight: $font-weight-h1-small;}
	h2 {font-size: $font-h2-small;font-weight: $font-weight-h2-small;}
	h3 {font-size: $font-h3-small;font-weight: $font-weight-h3-small;}
	h4 {font-size: $font-h4-small;font-weight: $font-weight-h4-small;}
}

//-Alternative Headings ... e poi dimmi che non sono perverso Raf

h1.alt {font-family: $font-h-alt;color:$color-black;}
h2.alt {font-family: $font-h-alt;color:$color-black;}
h3.alt {font-family: $font-h-alt;color:$color-black;}
h4.alt {font-family: $font-h-alt;color:$color-black;}

h1.alt {font-size: $font-h1-alt;font-weight: $font-weight-h1-alt;line-height:$font-h1-alt-line-height;letter-spacing: $font-h1-alt-letter-spacing;font-style: $font-h1-alt-font-style;}
h2.alt {font-size: $font-h2-alt;font-weight: $font-weight-h2-alt;line-height:$font-h2-alt-line-height;letter-spacing: $font-h2-alt-letter-spacing;font-style: $font-h2-alt-font-style;}
h3.alt {font-size: $font-h3-alt;font-weight: $font-weight-h3-alt;line-height:$font-h3-alt-line-height;}
h4.alt {font-size: $font-h4-alt;font-weight: $font-weight-h4-alt;line-height:$font-h4-alt-line-height;}
@media (max-width: $font-size-fallback) {
	h1.alt {font-size: $font-h1-small;font-weight: $font-weight-h1-small;}
	h2.alt {font-size: $font-h2-small;font-weight: $font-weight-h2-small;}
	h3.alt {font-size: $font-h3-small;font-weight: $font-weight-h3-small;}
	h4.alt {font-size: $font-h4-small;font-weight: $font-weight-h4-small;}
}

// Dropcaps
.dropcap {
	color: inherit;;
	float: left;
	font-family: $font-h-alt;
	font-size: $font-h1-big;
	font-weight: $font-weight-bold;
	line-height: 23px;
	padding-top: 13px;
	padding-right: 5px;
}
