/*!
|
|	 Netmilk Studio
|	 Ad maiora!
|
|	 info@netmilk.ch
|
|	 Ex ungue leonem.
|
*/
//-Netmilk Variables
@import "nm-variables";

//-Bootstrap Mods
$body-bg: $color-white !default;
$input-border-radius: 0px;
$modal-title-padding: 0;
//-$grid-float-breakpoint: 1000px;
@import "bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: FontAwesome;
    src: url('#{$assetPath}bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('#{$assetPath}bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('#{$assetPath}bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('#{$assetPath}bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('#{$assetPath}bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('#{$assetPath}bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: slick;
    font-weight: 400;
    font-style: normal;
    src: url(#{$assetPath}bower_components/slick-carousel/slick/fonts/slick.eot);
    src: url(#{$assetPath}bower_components/slick-carousel/slick/fonts/slick.eot?#iefix) format('embedded-opentype'), url(#{$assetPath}bower_components/slick-carousel/slick/fonts/slick.woff) format('woff'), url(#{$assetPath}bower_components/slick-carousel/slick/fonts/slick.ttf) format('truetype'), url(#{$assetPath}bower_components/slick-carousel/slick/fonts/slick.svg#slick) format('svg')
}
.slick-loading .slick-list {
    background: url(#{$assetPath}bower_components/slick-carousel/slick/ajax-loader.gif) center center no-repeat #fff
}

//-Netmilk Assets
@import "nm-typography";
@import "nm-components";
@import "nm-case-studies";
@import "nm-netmilk-studio";
@import "nm-nav";
@import "nm-footer";
@import "nm-buttons";
@import "nm-chocolat";
@import "nm-home";
@import "nm-case-study";
@import "nm-case-studies";
@import "nm-servizi";
@import "nm-servizio";
@import "nm-loader";

//-External Components
@import "/bower_components/aos/dist/aos.css";
// @import "../../bower_components/chocolat/dist/css/chocolat.css";
@import "/bower_components/slick-carousel/slick/slick-theme.css";
@import "/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css";
@import "/bower_components/slick-carousel/slick/slick.css";
@import "/bower_components/animate.css/animate.css";
@import "/bower_components/font-awesome/css/font-awesome.min.css";
@import "/bower_components/intl-tel-input/build/css/intlTelInput.css";

// Flags override
.iti-flag {background-image: url(../bower_components/intl-tel-input/build/img/flags.png);}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {background-image: url(../bower_components/intl-tel-input/build/img/flags@2x.png);}
.intl-tel-input {display:block}
.intl-tel-input .selected-flag {z-index:20;}
.intl-tel-input .country-list {z-index:2001;}
.iti-mobile .intl-tel-input .country-list {max-height:auto; width:auto;}
.intl-tel-input .country-list .country-name, .intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country .dial-code {font-size:12px;}
