footer
	.container-fuid.comincia
		.mostrami.opacity-0
			.staccidentro
				p Grazie mille del tuo interessamento 
					strong
						span#nome_mittente ___
					|<br><br> Il tempo di finire un bicchiere di latte e ti ricontattiamo.
		.titoli.nascondimi
			h1(data-aos="fade-up")
				span.serif Serve
				span.sans Latte?
		p.nascondimi Hai in mente un progetto?<br>Vogliamo saperne di più. Possiamo aiutarti a realizzarlo.
		.container
			.row.nascondimi
				.col-md-8.col-md-offset-2.col-sm-12.col-sm-12.col-sm-offset-0.col-xs-10.col-xs-offset-1
					.row
						.col-md-6.left
							.row
								.col-md-12
									.form-group.controlli
										div.avviso.avviso-nome(data-placement='top', data-content='Io Tarzan, tu Jane?')
										input.form-control(id="nome", name="nome", placeholder="Come ti chiami?")
								.col-md-12
									.form-group.controlli
										div.avviso.avviso-telefono(data-placement='top', data-content='Chiamo o ti scrivo? Attacco io o attacchi tu?')
										input#telefono.form-control(type='tel',name="telefono", placeholder="Il tuo numero?", onkeypress='convalidastocazzo(event)', onpaste='convalidastocazzo(event)')
										div#drop-down-bandiere
								.col-md-12
									.form-group.controlli
										div.avviso.avviso-email(data-placement='top', data-content='Amico, così non funziona.')
										input#email.form-control(name="email", placeholder="A quale mail ti scriviamo?")
						.col-md-6.right
							.row
								.form-group
									select.selectpicker.col-md-12(id="topic", name="topic", multiple data-actions-box="true", placeholder="cosa gradisci?")
										option(value="Web Design / Web Marketing") Web Design / Web Marketing
										option(value="Grafica cartacea o stampa") Grafica cartacea o stampa
										option(value="Salvare il mondo, l’universo, e tutto il resto!") Salvare il mondo, l’universo, e tutto il resto!
										option(value="Prendiamo un caffè") Prendiamo un caffè
								.col-md-12
									.form-group
										textarea.form-control(id="messaggio", name="messaggio", placeholder="Puoi anticiparci qualcosa?")
				.col-md-12.text-center
					button.btn-t-white(id="contatti" type="button") Cominciamo

	.container-fuid.contatti(itemscope='', itemtype='http://schema.org/LocalBusiness')
		.footer_logo
			a(href="index.html" alt="Netmilk Home")
				img#rubber(src="img/netmilk_logo_blue.svg", alt="Netmilk Studio Logo" itemprop='image')
		ul.list-unstyled.list-inline.pagine
			li
				a(href="index.html") Home
			li
				a(href="netmilk-studio.html") Netmilk Studio
			li
				a(href='case-studies.html') Case Studies

		ul.list-unstyled.list-inline.social
			li.tadaaa
				a.external(href="http://facebook.com/netmilkstudio" target="_blank")
					img(src="img/social/facebook.svg", alt="Facebook Logo")
			li.tadaaa(style="display:none")
				a.external(href="http://instagram.com/netmilkstudio" target="_blank")
					img(src="img/social/instagram.svg", alt="Instagram Logo")
			li.tadaaa
				a.external(href="https://ch.linkedin.com/in/enuzzo" target="_blank")
					img(src="img/social/linkedin.svg", alt="Linkedin Logo")
		p.copyright
			| Copyright&nbsp;
			script(language='javascript', type='text/javascript').
				var today = new Date()
				var year = today.getFullYear()
				document.write(year)
			//- | &nbsp;Netmilk Studio Sagl<br>Via Cantonale 121, Fornasette CH<br>+41 79 638 69 69 - info@netmilk.ch
			| <span itemprop="name">&nbsp;Netmilk Studio</span> Sagl<br/><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Via Cantonale 121</span>, <span itemprop="addressLocality">Fornasette</span><span itemprop="addressCountry">&nbsp;CH</span></span><br/><span itemprop="telephone">+41 79 638 69 69</span> - <a class="copyright external" href="mailto:info@netmilk.ch"><span itemprop="email">info@netmilk.ch</span></a>
