header.closed

	.transition-bar-wrapper
		.animated-bar.anim

	.header-contents
		.logo-wrapper
			a(href='index.html')
				span.icon-logo
					img(src='img/netmilk_logo_blue.svg', alt='netmilk logo')
		.hamburger
			.hamburger-inner
				.line.one
				.line.two
				.line.three



	#menuModal.animated.fullscreen.bounceOutUp
		.modal-dialog
			.modal-content
				.modal-header
					//-	button.chiudi.btn.btn-link.animated(type='button')
					//-		img(src="img/close.svg", alt="")
					h4.modal-title.text-center
						span.sr-only main navigation
				.modal-body.text-center
					ul.list-unstyled
						li
							a(href="index.html") Home
						li
							a(href="netmilk-studio.html") Netmilk Studio
						li
							a(href='case-studies.html') Case Studies
