doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Pacifico|Roboto:900,400', rel='stylesheet')
    title 404 - Pagina non trovata
    style.
      html,body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      }
      body {
      background-size: cover;
      background-position: center center;
      }
      .logo {
      position: fixed;
      width: 200px;
      top:5%;
      left: calc(50% - 100px);
      }
      .animate
      {
      transition: all 0.1s;
      -webkit-transition: all 0.1s;
      }
      .action-button
      {
      position: relative;
      padding: 10px 40px;
      margin: 0px 10px 10px 0px;
      float: left;
      border-radius: 10px;
      font-family: 'Pacifico', cursive;
      font-weight: 400;
      letter-spacing: 1.1px;
      font-size: 30px;
      color: #FFF;
      text-decoration: none;
      }
      .action-button:active
      {
      transform: translate(0px,5px);
      -webkit-transform: translate(0px,5px);
      border-bottom: 1px solid;
      }
      .blue
      {
      background-color: #3498DB;
      border-bottom: 5px solid #2980B9;
      text-shadow: 0px -2px #2980B9;
      }
      .content {
      margin: 0;
      padding: 0;
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.80) 0%, rgba(0,0,0,0.50) 40%, rgba(0,0,0,0.50) 70%, rgba(0,0,0,0.80) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0.80) 0%, rgba(0,0,0,0.50) 40%, rgba(0,0,0,0.50) 70%, rgba(0,0,0,0.80) 100%);
      z-index: 10;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      }
      h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 120px;
      color: white;
      margin: 0;
      padding: 0;
      margin-top: -140px;
      }
      p {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 22px;
      line-height: 1.6em;
      color:white;
      text-align: center;
      margin-bottom: 40px;
      }
  body
    .background-overlay
    .logo
      img(src='http://netmilk.ch/img/netmilk_logo_white.svg', alt='')
    .content
      h1 404
      p
        | La pagina che stavi cercando non esiste.
        br
        | Ma potrebbe sempre essere dall&apos;altra parte dello schermo.
        br
        | Dopotutto chi sono io per darti qualche certezza?
      |  
      a.action-button.shadow.animate.blue(href='http://netmilk.ch') Torniamo su Netmilk
  script.
    (function (window, undefined) {
    var c,
    cache,
    state,
    view,
    dispatch,
    defaults;
    c = cache = {};
    state = {};
    view = {};
    dispatch = {};
    defaults = {
    gifs: {
    fail: [
    'http://netmilk.ch/fail/1.gif',
    'http://netmilk.ch/fail/2.gif',
    'http://netmilk.ch/fail/3.gif',
    'http://netmilk.ch/fail/4.gif',
    'http://netmilk.ch/fail/5.gif',
    'http://netmilk.ch/fail/6.gif',
    'http://netmilk.ch/fail/7.gif',
    'http://netmilk.ch/fail/8.gif',
    ]
    }
    };
    cache.init = function () {
    this.body = document.body;
    };
    state.init = function () {
    this.gifs = defaults.gifs.fail;
    };
    state.getRandomGif = function () {
    return this.gifs[Math.floor(Math.random() * this.gifs.length)];
    };
    view.init = function () {
    c.body.style.backgroundImage = 'url(' + state.getRandomGif() + ')';
    };
    cache.init();
    state.init();
    view.init();
    })(window);
