extends components/nm-layout.pug

block append meta
	meta(name='description', content='Lo sviluppo del configuratore dei modelli per LML Italia, commissionato a Netmilk Studio')
block append title
		- var customTitle = "LML Italia - Case Study"
		title #{customTitle} - #{defaultTitle}
block append style
block append scripts-header
block append ie

block content
	//-	Body
	//-	Case Study LML
	section.case_study-splash.lml
		.nm-logo#rubber
			a(href="index.html" alt="Netmilk Studio - Home Page")
				img(src="img/netmilk_logo.svg", alt="Netmilk Studio Logo")
		.testi-wrapper
			h1.animated.fadeIn Milioni di possibilit&agrave;.<br>Letteralmente.
			h2.animated.fadeIn Configuratore dei Modelli
			img.brand.animated.fadeIn(src="img/case_studies/logo/lml_italia_logo_w.svg", alt="LML Italia Logo")
		a.scroller(data-scroll href='#start')
			.scroll-down.white.svg
				svg#Layer_2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 25.166666 37.8704414', enable-background='new 0 0 25.166666 37.8704414', xml:space='preserve')
					path.stroke(fill='none', stroke='#fff', stroke-width='2.5', stroke-miterlimit='10', d='M12.5833445 36.6204414h-0.0000229C6.3499947 36.6204414 1.25 31.5204487 1.25 25.2871208V12.5833216C1.25 6.3499947 6.3499951 1.25 12.5833216 1.25h0.0000229c6.2333269 0 11.3333216 5.0999947 11.3333216 11.3333216v12.7037992C23.916666 31.5204487 18.8166714 36.6204414 12.5833445 36.6204414z')
					path.scroller(fill='#fff', d='M13.0833359 19.2157116h-0.9192753c-1.0999985 0-1.9999971-0.8999996-1.9999971-1.9999981v-5.428606c0-1.0999994 0.8999987-1.9999981 1.9999971-1.9999981h0.9192753c1.0999985 0 1.9999981 0.8999987 1.9999981 1.9999981v5.428606C15.083334 18.315712 14.1833344 19.2157116 13.0833359 19.2157116z')

	#start
	//- Case Study Hero
	section.case_study-hero
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1(data-aos="fade-down") Stile inconfondibile,<br>ancora meglio se personalizzabile.
					p
						| Dopo aver contattato e sottoposto il progetto a varie agenzie senza riuscire a trovare un partner in grado di soddisfare tutte le richieste, <strong>il cliente ha trovato noi</strong>,
						| che entusiasti di metterci alla prova con una sfida così impegnativa, forse <strong>con una certa incoscienza</strong>, ci siamo proposti di riuscire nell'impresa:
					blockquote
						//- p(style="margin:20px 3px 25px; padding-left:20px; border-left:1px solid #999")
						p
							em "Realizzare un software che consenta agli utenti di <strong>configurare autonomamente</strong> il proprio scooter personalizzandone <strong>anche le pi&ugrave; piccole parti</strong>, ottenendo <strong>milioni di possibili combinazioni diverse</strong>".
					p La nostra idea da subito &egrave; stata quella che il configuratore dovesse funzionare su <strong>qualsiasi dispositivo</strong>, senza bisogno di applicazioni specifiche da scaricare.
						|	<br /><br />La fase di studio &egrave; quindi passata attraverso l'analisi di <strong>numerose tecnologie</strong>, fino a scegliere quelle da <strong>combinare efficacemente</strong> per arrivare ad un sistema complesso e articolato nei suoi ingranaggi nascosti <strong>"sotto al cofano"</strong> ma che all'esterno potesse risultare <strong>comodo e divertente</strong> per l'utilizzatore finale.

	//- Case Study Stock 01
	section.case_study-stock
		img.lazyload(src="img/case_studies/lml/lml_stock_01.jpg", alt="LML Italia - Programmazione")

	//- Case Study Approfondimento
	section.case_study-hero
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1(data-aos="fade-down") Impara l'arte, e mettila nel codice.
					h2(data-aos="fade-down") Integrare grafica 3D, fotomontaggio e programmazione senza soluzione di continuit&agrave;
					p(data-aos="fade-down") Per ottenere un prodotto finale, <strong>facile da utilizzare per chiunque</strong>, c'&egrave; voluto un gran <strong>lavoro di ingegno</strong>, in ogni piccola parte: 
						|	data la complessità del progetto, qualsiasi fosse la tecnologia che immaginavamo di utilizzare, insieme ai <strong>vantaggi</strong> questa portava con se una serie di <strong>criticità</strong> che potevano andare a discapito della <strong>semplicità di utilizzo</strong>. 
					p(data-aos="fade-down") È per questo che, dopo <strong>lunga e attenta riflessione</strong> volta a individuare i <strong>punti di forza</strong> di ogni tecnologia utile allo scopo, abbiamo preso ispirazione dall'<strong>alta cucina</strong> e vestito i panni degli <strong>chef navigati</strong>. Mescolando sapientemente solo i <strong>migliori ingredienti</strong> delle tecnologie disponibili, abbiamo potuto servire al cliente un risultato a <strong>cinque stelle</strong>.

	//- Case Study Mockup
	section.case_study-stock
		img.lazyload(src="img/case_studies/lml/lml_mockup.jpg", alt="LML Italia - Configuratore - Mockup")

	//- Esempi
	section.case_study-additional.lml
		.container
			.row
				.col-sm-6.sinistra
					h1(data-aos="fade-down") Dettagli in alta qualit&agrave;<br>dalle finiture allo specchietto.
					p#frontale(data-aos="fade") Comporre un risultato credibile da un <strong>collage di immagini</strong> poteva essere realizzato solo se ogni singolo pezzo fosse stato <strong>perfetto al millimetro</strong> ed ogni angolo di visione avesse mantenuto la <strong>corretta esposizione alla luce e conservato ombre credibili</strong>. Per questa ragione dopo aver <strong>fotografato i singoli componenti</strong> dei veicoli ed averne <strong>ricostruito in 3D</strong> ogni parte, abbiamo rimontato lo scooter in <strong>computer grafica</strong> per ottenere un risultato fotorealistico.
					//- button.btn-t-blue.hidden-sm.hidden-xs(data-toggle="modal", data-target="#myModal", onClick="document.getElementById('demoConfiguratore').src = 'http://comunicazionefacile.it/demos/configuratorelml/';") Prova la Demo del configuratore
				img.lazyload.frontale.hidden-sm.hidden-xs(src="img/case_studies/lml/frontale_lml_bis.png", alt="Scooter LML", data-aos="slide-up" data-aos-duration="1300" data-anchor="#frontale")

	//- Modal
	style.
		.modal-backdrop {z-index:1140;}
		.modal {width:100%;z-index:1150;}
		.modal-dialog {width:1020px;}

	#myModal.modal.fade(role='dialog')
		.modal-dialog
			//- Modal content
			.modal-content
				.modal-body
					iframe#demoConfiguratore(width='988px', height='700px', src='', frameborder='0', allowfullscreen='', scrolling="no")
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close


	//-	Prev Next
	section.prevnext(style="position:relative; z-index:1000")
		.container-fluid
			a.col-xs-6.left(href="case-study-kager.html" alt="Kager - Case Study")
				img.freccina(src="img/caret-left.svg" alt='Left Caret')
				p.hidden-xs Progetto Precedente
			a.col-xs-6.right(href="case-study-linkem.html" alt="Link'em Chiasso - Case Study")
				p.hidden-xs Progetto Successivo
				img.freccina(src="img/caret-right.svg" alt='Right Caret')

	//-	Footer block
	include components/nm-footer
