extends components/nm-layout.pug

block append meta
	meta(name='description', content='Logo design, immagine coordinata per Kudos Kapital Management - Netmilk Studio.')
block append title
		- var customTitle = "Kudos Capital Management - Case Study"
		title #{customTitle} - #{defaultTitle}
block append style
block append scripts-header
block append ie

block content

	//-	Body
	//-	Case Study Kager
	section.case_study-splash.kudos
		.nm-logo#rubber
			a(href="index.html" alt="Netmilk Studio - Home Page")
				img(src="img/netmilk_logo.svg", alt="Netmilk Studio Logo")
		.testi-wrapper
			h1.animated.fadeIn Trasmettere il benessere attraverso le generazioni.
			h2.animated.fadeIn Logo Design, Immagine Coordinata, Web Design, SEO
			img.brand.animated.fadeIn(src="img/case_studies/logo/kudos-logo-white.svg", alt="Kudos Capital Management Logo")
		a.scroller(data-scroll href='#start')
			.scroll-down.white.svg
				svg#Layer_2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 25.166666 37.8704414', enable-background='new 0 0 25.166666 37.8704414', xml:space='preserve')
					path.stroke(fill='none', stroke='#fff', stroke-width='2.5', stroke-miterlimit='10', d='M12.5833445 36.6204414h-0.0000229C6.3499947 36.6204414 1.25 31.5204487 1.25 25.2871208V12.5833216C1.25 6.3499947 6.3499951 1.25 12.5833216 1.25h0.0000229c6.2333269 0 11.3333216 5.0999947 11.3333216 11.3333216v12.7037992C23.916666 31.5204487 18.8166714 36.6204414 12.5833445 36.6204414z')
					path.scroller(fill='#fff', d='M13.0833359 19.2157116h-0.9192753c-1.0999985 0-1.9999971-0.8999996-1.9999971-1.9999981v-5.428606c0-1.0999994 0.8999987-1.9999981 1.9999971-1.9999981h0.9192753c1.0999985 0 1.9999981 0.8999987 1.9999981 1.9999981v5.428606C15.083334 18.315712 14.1833344 19.2157116 13.0833359 19.2157116z')

	#start
	//- Case Study Hero
	section.case_study-hero
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1(data-aos="fade-down") C'è chi pensa al tuo benessere, prima di te.
					p Kudos Kapital Management &egrave; una fiduciaria che gestisce capitali di clienti importanti, orientata al wealth management, all'accounting ed al family office. Tutti termini che per quanto ci riguarda, corrispondono ad "hocus pocus". Nonostante lo smarrimento di fronte a un argomento che non appartiene alla nostra quotidianit&agrave;, il team di Kudos ha saputo tradurre e spiegare per noi qualcosa di altrimenti molto complesso, come la finanza e la gestione dei capitali. Ecco dove risiede la loro forza.<br>Un team di giovani menti con un'attitudine decisamente prodigiosa nel rendere semplice la vita dei loro clienti, focalizzando la loro attenzione non solo sull'aspetto economico in s&eacute;, bens&igrave; sull'intera esperienza della gestione di un patrimonio e del benessere che se ne intende ricavare. Mantenendolo, investendolo con oculezza e soprattutto conservandolo nel tempo.<br>Lesson learned.


	//- Case Study Stock 01
	section.case_study-stock
		img.lazyload(src="img/case_studies/kudos/kudos-stock-01.jpg", alt="Kudos Kapital Management - Stock Photos")

	//- Case Study Approfondimento
	section.case_study-hero
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1(data-aos="fade-down") Buon gusto e stile non convenzionali.
					h2(data-aos="fade-down") Sapere qual che si vuole, a cominciare dal design.
					p(data-aos="fade") Ecco uno di quei casi nei quali il cliente non solo sa bene quel che vuole ed espone le proprie idee, ma per giunta sono ottime idee. La struttura del desgin nasce quindi dall'incontro delle idee di Kudos e delle nostre soluzioni, la navigazione della prima pagina a blocchi, le pagine interne "tagliate" prima in verticale e in orizzontale fanno intuire la capacità decisionale e contemporaneamente la versatilità di pensiero del modo di operare di Kager, capace di adattarsi e rendersi flessibile ed efficiente.

	//- Case Study Mockup
	section.case_study-mockup.no-bg
		img.lazyload(src="img/case_studies/kudos/kudos-composite.jpg", alt="Kudos Capital Management - Mockup")

	//- Esempi
	section.case_study-hero
		.container
			.row
				.col-sm-6.col-sm-offset-1
					h1(data-aos="fade-down") Blu e oro.
					h2(data-aos="fade-down") Un'icona per "Independence"? Una per "Cross-Funcional Team"? No problem!
					p(data-aos="fade")  In questo consiste il vantaggio di essersi capiti bene, un set di icone assolutamente uniche, che accompagnate dal testo, hanno segno e significato. 
				.col-sm-4
					img(src="img/case_studies/kudos/kudos-icons.svg", alt="Kudos Capital Management - Icons")

	//-	Visit and more
	section.visit
		a.external(href="https://kudos-cm.ch", target="_blank") 
			button.btn-t-blue Visita il sito Kudos Capital Management
			

	//-	Prev Next
	section.prevnext
		.container-fluid
			a.col-xs-6.left(href="case-study-lml.html" alt="LML Italia - Case Study")
				img.freccina(src="img/caret-left.svg" alt='Left Caret')
				p.hidden-xs Progetto Precedente
			a.col-xs-6.right(href="case-study-kager.html" alt="Kager - Case Study")
				p.hidden-xs Progetto Successivo
				img.freccina(src="img/caret-right.svg" alt='Right Caret')

	//Footer block
	include components/nm-footer
