extends components/nm-layout.pug

block append meta
	meta(name='description', content='Lo sviluppo del web site per Link em Chiasso, commissionato a Netmilk Studio.')
block append title
		- var customTitle = "Link'em Chiasso - Case Study"
		title #{customTitle} - #{defaultTitle}
block append style
block append scripts-header
block append ie

block content

	//-	Body
	//-	Case Study Linkem
	section.case_study-splash.linkem
		.nm-logo#rubber
			a(href="index.html" alt="Netmilk Studio - Home Page")
				img(src="img/netmilk_logo.svg", alt="Netmilk Studio Logo")
		.testi-wrapper
			h1.animated.fadeIn Innovare in un mercato storico.<br>Comunicare innovazione e competenza.
			h2.animated.fadeIn Web Design, SEO, Online Marketing
			img.brand.animated.fadeIn(src="img/case_studies/logo/linkem_logo_w.svg", alt="Link'em Logo")
		a.scroller(data-scroll href='#start')
			.scroll-down.white.svg
				svg#Layer_2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 25.166666 37.8704414', enable-background='new 0 0 25.166666 37.8704414', xml:space='preserve')
					path.stroke(fill='none', stroke='#fff', stroke-width='2.5', stroke-miterlimit='10', d='M12.5833445 36.6204414h-0.0000229C6.3499947 36.6204414 1.25 31.5204487 1.25 25.2871208V12.5833216C1.25 6.3499947 6.3499951 1.25 12.5833216 1.25h0.0000229c6.2333269 0 11.3333216 5.0999947 11.3333216 11.3333216v12.7037992C23.916666 31.5204487 18.8166714 36.6204414 12.5833445 36.6204414z')
					path.scroller(fill='#fff', d='M13.0833359 19.2157116h-0.9192753c-1.0999985 0-1.9999971-0.8999996-1.9999971-1.9999981v-5.428606c0-1.0999994 0.8999987-1.9999981 1.9999971-1.9999981h0.9192753c1.0999985 0 1.9999981 0.8999987 1.9999981 1.9999981v5.428606C15.083334 18.315712 14.1833344 19.2157116 13.0833359 19.2157116z')

	#start
	//- Case Study Hero
	section.case_study-hero
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1(data-aos="fade-down") Bravi, precisi, puntuali.<br>Ve li presento?
					p(data-aos="fade") Nelle citt&agrave; di Chiasso, Mendrisio e Lugano, la ragione per la quale si lavora e si mantengono i clienti nel tempo, &egrave; la fiducia. Non diverso dal resto del mondo forse, ma data la natura dei molti uffici fiduciari, di finanza, banche e aziende di alta precisione, l'argomento &egrave; particolarmente sentito.<br><br>Il nostro compito era presentare sul web, e promuovere un gruppo di persone straordinariamente motivate, ambiziose, ma soprattuto preparate tecnicamente, tanto da vantare in tutto il team di lavoro le migliori e pi&ugrave; complicate certificazioni informatiche e di sicurezza.

	//- Case Study Stock 01
	section.case_study-stock
		img.lazyload(src="img/case_studies/linkem/linkem_stock-01.jpg", alt="Link'em Chiasso - Home")

	//- Case Study Approfondimento
	section.case_study-hero
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1(data-aos="fade-down") Tutto, ma non banali.
					h2(data-aos="fade-down") Siamo d'accordo. Informatici s&iacute, ma niente sito grigio.
					p(data-aos="fade") La nostra idea di giocare con i colori, senza diventare un sito di caramelle, ma dimostrando tutta la freschezza nell'approccio, la capacit&agrave; di portare innovazione e nuove soluzioni, &egrave; stata accolta. Per questo motivo abbiamo fatto non poca fatica per trovare un tema portante. Non tanto nella palette dei colori, quanto nelle immagini da usare.<br><br>Qualcosa di originale, qualcosa di specifico e qualcosa che esprimesse pertinenza con gli argomenti del sito. &Egrave; stato dopo decine di idee e confronti che siamo finalmente venuti a capo del problema, usando questi piccoli ingegneri informatici, alle prese con la riparazione di un disco, la configurazione di un router -etc-.

	//- Case Study Mockup
	section.case_study-mockup
		img.lazyload(src="img/case_studies/linkem/linkem_mockup.png", alt="Link'em Chiasso - Mockup")

	//- Esempi
	section.case_study-hero
		.container
			.row
				.col-sm-6.col-sm-offset-1
					h1(data-aos="fade-down") Dettagli che fanno la differenza.
					h2(data-aos="fade-down") Ogni parte del sito &egrave; stata disegnata appositamente.
					p(data-aos="fade") Per distinguersi dalla massa e dall'iconografia tipica dei siti di informatica, abbiamo realizzato in ogni pagina del sito, e per ogni argomento, grafica e iconografia su misura. Ritrovare lo stesso tratto, lo stesso radius delle curve nelle icone, lo stesso spessore delle linee e lo stesso tema grafico, &egrave; una delle ragioni che conferiscono carattere al prodotto e piacere nell'osservatore.
				.col-sm-4
					img(src="img/case_studies/linkem/linkem_icon.svg", alt="Link'em Chiasso - Icone su Misura" data-aos="fade-down" data-aos-anchor-placement="top-center")

	//-	Visit and more
	section.visit
		a.external(href="http://linkem.ch", target="_blank")
			button.btn-t-blue Visita il sito Link'em Chiasso

	//-	Prev Next
	section.prevnext
		.container-fluid
			a.col-xs-6.left(href="case-study-kager.html" alt="Kager - Case Study")
				img.freccina(src="img/caret-left.svg" alt='Left Caret')
				p.hidden-xs Progetto Precedente
			a.col-xs-6.right(href="case-study-lml.html" alt="Link'em - Case Study")
				p.hidden-xs Progetto Successivo
				img.freccina(src="img/caret-right.svg" alt='Right Caret')

	//- Footer block
	include components/nm-footer
