extends components/nm-layout.pug

block append meta
	meta(name='description', content='Case studies di Netmilk, i nostri lavori ed il nostro approccio al progetto.')
block append title
	- var customTitle = "Portfolio lavori di Web Design"
	title #{customTitle} - #{defaultTitle}
//-	block append style
//-	block append scripts-header
//-	block append ie

block content

	//-	Body
	//-	Contenuto Case Studies
	section.case-p-intro
		.nm-logo#rubber
			a(href="index.html" alt="Netmilk Studio - Home Page")
				img(src="img/netmilk_logo.svg", alt="Netmilk Studio Logo")
		.titoli 
			h1(data-aos="fade-down" data-aos-anchor-placement="top-center")
				span.serif Case
				span.sans Studies
		.thecase
			.case-abstract
				h1 Kudos CM
				h3 Logo - Immagine Coordinata - Web Design
				p Kudos Capital Management è una società fiduciaria svizzera specializzata nel wealth management, nell'asset management e nel family office.
				a(href="case-study-kudos.html")
					button.btn-t-blue Leggi il Case Study
			.case-bg.case-kudos
				img.case_logo(src="img/case_studies/logo/kudos-logo-white.svg" alt='Kudos Capital Management Logo')
		.thecase
			.case-bg.case-kager
				img.case_logo(src="img/case_studies/logo/kager_haus_logo_w.svg" alt='Kager Haus Logo')
			.case-abstract
				h1 Kager Haus
				h3 Web Design - SEO
				p Kager Haus &egrave; una azienda Slovena, che rappresenta da pi&ugrave; di 30 anni l&apos;eccellenza nella qualit&agrave; costruttiva di abitazioni prefabbricate. Frutto del genio di un ingegnere con straordinaria lungimiranza.
				a(href="case-study-kager.html")
					button.btn-t-blue Leggi il Case Study
					
		.thecase
			.case-abstract
				h1 Link'em 
				h3 Web Design - SEO - Online Marketing
				p Link'em &egrave; un'azienda giovane e straordinariamente competente. Il nostro compito &egrave; stato creare un design capace di dare fiducia e nel contempo comunicare dinamismo innovazione e cordialità
				a(href="case-study-linkem.html")
					button.btn-t-blue Leggi il Case Study
			.case-bg.case-linkem
				img.case_logo(src="img/case_studies/logo/linkem_logo_w.svg" alt='Linkem Chiasso Logo')
		.thecase
			.case-bg.case-lml
				img.case_logo(src="img/case_studies/logo/lml_italia_logo_w.svg" alt='LML Italia Logo')
			.case-abstract
				h1 LML
				h3 Configuratore dei Modelli
				p Uno stile inconfondibile, intramontabile e mai uguale a s&eacute; stesso. Abbiamo creato un configuratore 3D, per Desktop e Tablet, che permette di generare milioni di combinazioni.
				a(href="case-study-lml.html")
					button.btn-t-blue Leggi il Case Study



	//Footer block
	include components/nm-footer
