extends components/nm-layout.pug

block append meta
	meta(name='description', content='Siamo una Web Agency Svizzera, in Ticino. Facciamo siti ecommerce, SEO, grafica e stampa. Visita il nostro sito.')
block append title
	- var customTitle = "Web Design in Ticino - Grafica e Stampa - Agenzia Creativa"
	title #{customTitle} - #{defaultTitle}
//- block append style
//- block append scripts-header
//- block append ie

block content

	//- Body
	.splash-wrapper
		section.homesplash
			.tagline#rubber
				svg#logo-w-ani(viewbox='0 0 400 151.6')
					g
						path(alt="N" d='M41.3,107.6c-3.8,6.2-8.4,14.4-13.8,24.6c-6.3,11.9-11.1,17.9-14.2,17.9\ c-6.6,0-9.9-3.4-9.9-10.2c0-12.1,4.4-28.7,13.3-49.7c2.2-5.2,5-7.7,8.7-7.7c4.8,0,7.2,1.7,7.2,5.2c-0.2,0.6-0.7,1.8-1.5,3.6\ c-6.5,13.3-11,27.5-13.6,42.5C36.6,97.1,49,78.7,54.6,78.7c2.4,0,4.7,0.8,6.9,2.4s1.8,4.9-1.4,11.6c-1,2-3.2,6.8-5.7,15.1\ c-3.6,12-5.4,21.2-5.4,27.4c0,3.5,0.8,5.2,2.4,5.2c2.5,0,15.4-15,20.1-32c0,0,5.9,8.6,5.9,9.3c0,2.7-2.4,7.7-7.1,14.9\ c-4.2,6.4-7.6,11-10.3,13.8c-3.1,3.2-6.3,4.7-9.7,4.7c-8.3,0-12.5-6.2-12.5-18.5C37.6,127,38.9,118.6,41.3,107.6z')
						path(alt="E" d='M79.7,121.1c-1,3.6-1.4,7.3-1.4,11.3c0,8,2.1,12,6.3,12c4.8,0,10.1-3.2,16.1-9.6\ c4.5-4.9,8.3-10.2,11.4-15.9c0.3-0.5,0.8-1.4,1.4-2.8c1.4-2.8,1.6-4.6,2-6.7s4.4,3.8,4.4,6.5c0,3.5-3,9.2-9.1,17\ c-9.5,12.3-19,18.4-28.5,18.4c-10.6,0-15.9-6.1-15.9-18.4c0-7.1,1.7-15.3,5.1-24.6c3.1-8.7,6.9-16.2,11.3-22.6\ c3.2-4.6,6.5-7.1,10.1-6.8c9.5,0.6,15.7,6.8,15.7,10.6c0,7-2,14.2-6,21.7c-4.6,8.7-10.1,13-16.5,13\ C83.8,124.1,81.7,123.1,79.7,121.1z M87.2,117.5c2.8,0,5.3-3.1,7.5-9.4c1.7-5.1,2.6-9.4,2.6-13c0-2.1-0.9-3.2-2.6-3.2\ c-2.2,0-4.8,2.7-7.6,8c-2.6,5-3.9,8.8-3.9,11.4C83.2,115.4,84.5,117.5,87.2,117.5z')
						path(alt="T" d='M131.8,50.2c-9.4,0.7-16.3,1-20.9,1c-7.6,0-11.5-2.3-11.5-6.8c0-2.8,5.8-4.9,17.3-6.4\ c6.8-0.5,13.6-1,20.3-1.5c2.2-7.1,3.6-11.2,4.2-12.5c2.5-5.4,5.6-8,9.2-8c5.2,0,7.8,1.7,7.8,5l-2,4.7c-1.4,3.2-2.6,6.6-3.4,10.1\ c8.7-0.7,16.4-1,23.2-1c14.4,0,21.7,2.7,21.7,8c0,1.9-2.8,2.8-8.3,2.8c0.5,0-13.2,1-41.1,2.9c-15,39.6-22.4,67.9-22.4,84.7\ c0,5.1,1.5,7.6,4.5,7.6c4.5,0,14.7-10.8,20.8-28.5c2.2-6.4,12.3-6.7,12.3-3.4c0,5.8-5.5,16-16.5,30.7\ c-5.7,7.7-12.3,11.5-19.9,11.5c-9.3,0-14-6.8-14-20.5C113,115.3,119.3,88.5,131.8,50.2z')
						path(alt="M" d='M207.6,134c0.4-4.1,5.6-15.9,13.1-33.8l0.9-2.1c-4.3,6.4-9.9,15.3-16.6,26.8\ c-9.5,16-17.3,26.5-21.8,26.2c-5.4-0.3-7.9-3.1-7.7-8.5c0.1-2.5,3-13.5,7-27.6l2-7.3c-5.7,8-11.6,17.4-17.6,28.2\ c-5.7,10.3-10.2,15.3-13.5,15.1c-7.6-0.4-11.3-4.3-10.9-11.8c0.1-2.5,2.7-10.4,7.5-23.7c3.6-10.2,5-13.8,10.3-26.7\ c0.7-1.6,2.8-2,4.8-1.9c2.5,0.1,5.5,0.7,6.5,3.3c1.3,3.1-10.1,28.4-16.7,50.4c22.8-37.4,38.9-59.3,44.7-58.2\ c8.9,1.8,3.4,11.7,3.4,11.7c-4.8,11.6-11.2,29.4-14.1,43C212,97.6,224.7,81.3,230.2,79c2.3-0.9,17.8-2,6.8,14.9\ c-3.2,4.8-7.3,12.1-10.8,19.4c-3.9,8.3-7.5,15.5-7.7,20c-0.2,3.8,0.9,5.8,3.3,5.9c3.4,0.2,10.6-6.5,18.7-18.7\ c5.3-8.1,7-14.1,7-14.1c1.4,1.6,6.2,7.4,6.2,8.5c-0.2,3-3.6,9.3-10.4,18.9c-7.9,11.3-16.1,17.4-21.6,17.2\ C217.9,151,206.5,147.2,207.6,134z')
						path(alt="I" d='M256.2,150.9c-9.9,0-14.8-7.1-14.8-21.4c0-6.6,11.5-40.9,14.7-45.5c2.4-3.5,3.6-5.1,9.4-5.1\ c3.3,0,5,1.4,5,4.2c0,0.4-0.6,2.2-1.8,5.4c-0.5,1.3-1.2,3-1.9,5.1l-1.7,4.7c-7.3,20.6-11.2,31.4-11.2,35.7c0,3.8,1.5,5.7,4.5,5.7\ c5.5,0,23.5-24.7,26.8-39.9c0,0,5.5,10.4,5.5,13.7c0,0.6-1.5,3.4-4.5,8.4l-3.4,5.9C273.5,143.2,264.7,150.9,256.2,150.9z\ M266.8,72.1c-5,0-7.4-2.2-7.4-6.5c0-2.7,1.5-5,4.5-6.9c2.7-1.6,5.5-2.4,8.4-2.4c3.9,0,5.8,1.8,5.8,5.5c0,2.7-1.2,5.1-3.6,7.2\ C272.2,71.1,269.6,72.1,266.8,72.1z')
						path(alt="L" d='M284,103.6c9.8-37.6,27-91,30.5-98.5c3.9-8.5,16.4-3.9,20.3-0.5c3.8,3.4,5.7,6.8,5.7,10.1\ c0,10.7-6.9,29.5-20.7,56.4c-10.3,20.2-26.2,38.6-26.2,53.5c0,10.5,2.3,15.7,6.8,15.7c4.2,0,25.6-28.7,28.8-36.7\ c0.7-1.8,4.1,7.5,4.1,8.4c0,0.3-0.3,1-0.8,2c-3.9,7.7-6.6,12.9-8.2,15.4c-3.6,6.3-6.9,11-10.1,14.2c-5,5-10.3,7.5-15.9,7.5\ c-5.2,0-9.6-2.6-13.4-7.7c-3.5-4.7-5.2-9.7-5.2-15C279.7,124.4,284,103.6,284,103.6z M297.6,94.1c7.1-13.3,8.2-14.3,15.6-31.3\ c10.3-23.5,15.6-39,15.4-46.4c-0.2-6-4-3.9-4.6-2.4C308.7,49.9,305.1,67.5,297.6,94.1z')
						path(alt="K" d='M336,120.4c-2.3,5.1-4.6,11.5-7.1,19.1c-2.6,8-5.2,11.9-7.9,11.7c-5-0.4-7.3-2.8-7-7.2\ c0.1-1.4,2.6-8.2,7.5-20.7l5.7-14.4l21.9-57c0.2-0.8,3.7-9.1,10.5-25.1l0.3-0.7c3-7.1,6.9-10.5,11.8-10.1c1.8,0.1,4.1,0.4,5.3,2.3\ c3.2,4.9-11.7,25.8-21,48.8c-4.6,11.2-6.9,18.5-12.1,33.2c1-0.7,3.7-2.7,8-6l3.7-2.8c16.6-12.5,28.6-21.7,31.7-19.2\ c4.2,3.3,1.1,8.8-9.7,17.1c-12.5,9.5-23.9,18.6-24.2,18.8c1.6,24.3,7.3,32,12.9,33c5.7,1,14-7.9,25.6-24.3\ c0.2-0.3,0.4-0.7,0.7-1.1c1.5-2.4,2.8-3.5,3.9-3.5c0.8,0.1,1.7,0.7,2.5,1.9c0.8,1.2,1.2,2.2,1.2,3.2c-0.4,5.8-5.7,13.9-15.7,24.5\ c-6.5,6.8-13.4,10-20.7,9.4c-6.3-0.5-11.3-5-15.2-13.6c-1.7-3.7-3.8-10.7-6.4-21.1L336,120.4z')
			.titoli
				h1.title-caption
			.cliccaoscorri.opacity-0.hidden-xs
				img(src="img/cliccaoscorri.svg", alt="Clicca o Scorri")
			a.scroller(href='#start')
				.scroll-down.white.svg
					svg#Layer_2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 25.166666 37.8704414', enable-background='new 0 0 25.166666 37.8704414', xml:space='preserve')
						path.stroke(fill='none', stroke='#fff', stroke-width='2.5', stroke-miterlimit='10', d='M12.5833445 36.6204414h-0.0000229C6.3499947 36.6204414 1.25 31.5204487 1.25 25.2871208V12.5833216C1.25 6.3499947 6.3499951 1.25 12.5833216 1.25h0.0000229c6.2333269 0 11.3333216 5.0999947 11.3333216 11.3333216v12.7037992C23.916666 31.5204487 18.8166714 36.6204414 12.5833445 36.6204414z')
						path.scroller(fill='#fff', d='M13.0833359 19.2157116h-0.9192753c-1.0999985 0-1.9999971-0.8999996-1.9999971-1.9999981v-5.428606c0-1.0999994 0.8999987-1.9999981 1.9999971-1.9999981h0.9192753c1.0999985 0 1.9999981 0.8999987 1.9999981 1.9999981v5.428606C15.083334 18.315712 14.1833344 19.2157116 13.0833359 19.2157116z')

	//-Hero
	.page-wrapper
		#start
		section.hero.vidbg-box
			.container-fluid
				.col-sm-12
					.titoli
						h1(data-aos="fade-down" data-aos-anchor-placement="center-bottom")
							span.serif Agenzia
							span.sans Creativa
					//- h2 Per tutti, ma non per chiunque.
				.col-lg-8.col-lg-offset-2
					p.intro(data-aos="fade-up" data-aos-anchor-placement="top-center") Siamo per le grandi idee e per le piccole sfide.<br>Abbiamo il dogma della data di consegna.
				.col-sm-10.col-sm-offset-1
					.container-icone
						.icona
							img.servizi(src="img/icon_digitale.svg", alt="Servizi Web Design" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-delay="500")
							h2(data-aos="fade-in" data-aos-anchor-placement="bottom-bottom" data-aos-delay="450") Digitale
							ul.list-unstyled(data-aos="fade-in" data-aos-anchor-placement="bottom-bottom" data-aos-delay="400")
								li Web Design
								li Gestionali Web
								li Foto e Video Shooting
						.icona
							img.servizi(src="img/icon_stampa.svg", alt="Servizi Stampa" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-delay="500")
							h2(data-aos="fade-in" data-aos-anchor-placement="bottom-bottom" data-aos-delay="450") Cartaceo
							ul.list-unstyled(data-aos="fade-in" data-aos-anchor-placement="bottom-bottom" data-aos-delay="400")
								li Volantini, Flyer
								li Cartelloni, Stradali
								li Immagine Coordinata
						.icona
							img.servizi(src="img/icon_marketing.svg", alt="Servizi Marketing" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-delay="500")
							h2(data-aos="fade-in" data-aos-anchor-placement="bottom-bottom" data-aos-delay="450") Marketing
							ul.list-unstyled(data-aos="fade-in" data-aos-anchor-placement="bottom-bottom" data-aos-delay="400")
								li Campagne Facebook/Google
								li Miglioramento posizione
								li Campagne Newsletter
				//- .col-xs-12
				//-	 p.outro Se non trovi l'A-Team, prova con noi.<br>Siamo ninja, pirati e cowboys.
					//- Guardiamo avanti, leggiamo il futuro, attraverso una tazza di latte.<br>
				.goccioloni-wrapper
					img.img-responsive(src="img/goccioloni.svg", alt="")

		// section(style="background:magenta;height:1200px;")
		// 	.container-fluid
		// 		.row
		// 			video(autoplay="" muted="" loop="" style="position:fixed;right:0;bottom:0;min-width:100%;min-height:100%;)")
		// 				source(src='http://netmilk.ch/img/filmati/themilk.webm')
		// 				source(src='http://netmilk.ch/img/filmati/themilk.mp4')

		//-Case Studies
		section.case-studies-wrapper
			.container-fluid
				.row
					.titoli
						h1(data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-offset="100")
							span.serif Case
							span.sans Studies
						h2(data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-offset="200") Come Lavoriamo
					.contenitore-case
						.col-md-4
							.case-container
								img.foto.lazyload(data-src="img/case_studies/01_kager-haus.jpg", alt="Kager Haus - Il progetto")
								.case-hover.secondo
									img.case-logo(src="img/case_studies/logo/kager_haus_logo_w.svg" alt="Kager Haus Logo")
									h2 Eccellenza nella costruzione di abitazioni prefabbricate con materiali nobili.
									a(href="case-study-kager.html")
										button.btn-t-white.center-block Progetto Kager
						.col-md-4
							.case-container
								img.foto.lazyload(data-src="img/case_studies/04_kudos.jpg", alt="Kudos Capital Management - Il progetto")
								.case-hover.primo
									img.case-logo(src="img/case_studies/logo/kudos-logo-white.svg" alt="Kudos Kapital Management")
									h2 Logo e Web Design, immagine coordinata. Progettazione di un layout originale.
									a(href="case-study-kudos.html")
										button.btn-t-white.center-block Progetto Kudos
						.col-md-4
							.case-container
								img.foto.lazyload(data-src="img/case_studies/03_linkem.jpg", alt="Link'em - Il progetto")
								.case-hover.terzo
									img.case-logo(src="img/case_studies/logo/linkem_logo_w.svg" alt="Kager Haus Logo")
									h2 Una equipe di sistemisti preparati e certificati, per un mercato esigente e competitivo.
									a(href="case-study-linkem.html")
										button.btn-t-white.center-block Progetto Link'em
					.clearfix
					p.text-center
						| Sviluppo siti web, immagini coordinate, SEO e Marketing.<br>
						span(data-aos="fade-right" data-aos-offset="300" data-aos-delay="0") Lavoriamo con&nbsp;
						span(data-aos="fade-left" data-aos-offset="300" data-aos-delay="100") aziende,&nbsp;
						span(data-aos="fade-left" data-aos-offset="300" data-aos-delay="200") privati,&nbsp;
						span(data-aos="fade-left" data-aos-offset="300" data-aos-delay="500") e con&nbsp;
						span(data-aos="fade-left" data-aos-offset="300" data-aos-delay="800") altre agenzie
					.center-button
						a#altriprogetti(href="case-studies.html")
							button.btn-t-white Scopri altri progetti in portfolio

		//- Chi Siamo Reminder
		section.chisiamo_reminder
			.homangolo_top
			.homangolo_bottom
			.container
				.row
					.titoli
						h1(data-aos="fade-down"  data-aos-anchor-placement="bottom-bottom" data-aos-offset="200")
							span.serif Piacere,
							span.sans Netmilk
						h2(data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-offset="300") Web Design in Ticino
					.col-sm-8.col-sm-offset-2
						p Razionali, misurati, irrazionali e smodati. Imprevedibili, anche su appuntamento. Facciamo Web Design, grafica digitale e stampa, marketing, copywriting. Lo facciamo bene. Con lo zucchero. Conosciamoci un po' meglio.
						a(href="netmilk-studio.html")
							button.btn-t-blue-light Questi siamo noi
		//-Portfolio
		section.showcase.chocolat-parent
			.container-fluid
				.row
					.titoli
						h1(data-aos="fade-down"  data-aos-anchor-placement="bottom-bottom" data-aos-offset="200")
							span.serif Show
							span.sans Case
						h2(data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-offset="300") GALLERIA PROGETTI
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-01.jpg" title="MaaD Athletes Management")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-01-t.jpg", alt="MaaD Athletes Management")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-02.jpg" title="Birrificio del Pirata")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-02-t.jpg", alt="Birrificio del Pirata")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-03.jpg" title="ITHERIA")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-03-t.jpg", alt="ITHERIA")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-04.jpg" title="Tattoo Max Artist")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-04-t.jpg", alt="Tattoo Max Artist")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-05.jpg" title="Restaurant de l'Avenir")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-05-t.jpg", alt="Restaurant de l'Avenir")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-06.jpg" title="Solid Form")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-06-t.jpg", alt="Solid Form")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-07.jpg" title="Dragons Lugano")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-07-t.jpg", alt="Dragons Lugano")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-08.jpg" title="Mikro Kapital Italia")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-08-t.jpg", alt="Mikro Kapital Italia")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-09.jpg" title="IDOM Recycling")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-09-t.jpg", alt="IDOM Recycling")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-10.jpg" title="Burattino")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-10-t.jpg", alt="Burattino")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-11.jpg" title="Solid Form")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-11-t.jpg", alt="Solid Form")
					.col-md-3.col-sm-3.col-xs-6
						a.chocolat-image(href="img/portfolio/gl-12.jpg" title="500 degli Sposi")
							img.foto.lazyload(data-src="img/portfolio/thumbs/gl-12-t.jpg", alt="500 degli Sposi")

		//-Shooting
		section.shooting.vidbg-box-2
			.container-fluid
				.row
					.col-sm-12
						.titoli
							h1(data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-offset="200")
								span.serif Photo&amp;
								span.sans Video
					.col-sm-8.col-sm-offset-2
						p.colonne.due(data-aos="fade" data-aos-anchor-placement="center-bottom")
							| Una delle componenti chiave del <strong>marketing</strong> &egrave; <strong>la qualit&agrave; delle immagini</strong>.
							|	Secondo la nostra esperienza, sono determinanti per la riuscita di un sito e per la <strong>credibilit&agrave; di qualsiasi progetto</strong>.
							|	<br /><br />
							|	Dallo shop di abiti e moda online ai vini, alla vendita di abitazioni, alla produzione di un catalogo o di un cartellone stradale, <strong>ogni progetto</strong> deve saper ammiccare e richiamare l'attenzione con <strong>immagini accattivanti</strong> sapientemente mostrate.
							|	<br />
							|	Ci occupiamo direttamente di <strong>scatti, riprese e postproduzione</strong> con la stessa maniacale cura che mettiamo nel codice.
							|	<br /><br />
							|	Usiamo le <strong>migliori attrezzature</strong>, realizziamo still-life prodotti direttamente nelle lightbox e scattiamo in studio e in esterna con reflex e telecamere da produzione, ma quando possibile <strong>ci piace giocare creativamente</strong> utilizzando sul momento quanto disponibile in location.<br><br>

					.col-sm-12
						.container-icone
							.icona
								img.servizi(src="img/icon_photo.svg", alt="Servizi Web Design" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom")
								h2(data-aos="fade" data-aos-anchor-placement="bottom-bottom") Photo Shooting

							.icona 
								img.servizi(src="img/icon_video.svg", alt="Servizi Stampa" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom")
								h2(data-aos="fade" data-aos-anchor-placement="bottom-bottom") Video Shooting

							.icona.hinge
								img.servizi(src="img/icon_duck.svg", alt="Servizi Marketing" data-aos="fade-down" data-aos-anchor-placement="bottom-bottom")
								h2(data-aos="fade" data-aos-anchor-placement="bottom-bottom") Duck Shooting
								
		//-Carousel
		section.carousel
			.wrapper-custom
				//- .titoli
				//- 	h1
				//- 		span.serif Selected
				//- 		span.sans Clients
				//- 	h2.text-center
				//- 		span(data-aos="fade-left" data-aos-offset="300" data-aos-delay="100") aziende,&nbsp;
				//- 		span(data-aos="fade-left" data-aos-offset="300" data-aos-delay="200") privati,&nbsp;
				//- 		span(data-aos="fade-left" data-aos-offset="300" data-aos-delay="300") agenzie
				.container
					.col-sm-10.col-sm-offset-1
					.slider
						.contenuto
							img.lazyload(src="img/customers-logo/aurum-gavia-01.svg", alt="Aurum Gavia")
						.contenuto
							img.lazyload(src="img/customers-logo/linkem-03.svg", alt="Link'em")
						.contenuto
							img.lazyload(src="img/customers-logo/kager-02.svg", alt="Kager")
						.contenuto
							img.lazyload(src="img/customers-logo/nolo-services-05.svg", alt="Nolo Services")
						.contenuto
							img.lazyload(src="img/customers-logo/lml-italia-04.svg", alt="LML Italia")
						.contenuto
							img.lazyload(src="img/customers-logo/farmcia-piazzetta-06.svg", alt="Farmacia Lugano")

		//- Footer
		include components/nm-footer
