doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Netmilkonami
		meta(name='description', content='Netmilkonami')
		meta(name='author', content='Netmilk Studio')
		link(rel='stylesheet', href='konami/konami.css')
	body
		#starscroll
		audio(loop="loop" autoplay="autoplay")
			source(src="konami/8bit.mp3" type="audio/mpeg")
		.eightbitrama
			img.netmilk.bzzz(src="konami/netmilk-8bit.svg")
			img.startrek.bzzz(src="konami/startrek.svg")
			a.getback(href="index.html") Get back to mothership
			a(role="button").speaker
				span
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	script(src='konami/starscroll.min.js')
	script.
		$('#starscroll').starscroll(16,3,30,5,4,[96,255,255],true,true);
	script.
		$("audio").prop('muted', false);
		$(".speaker").click( function (){
			if( $("audio").prop('muted') ) {
				$("audio").prop('muted', false);
				$(this).toggleClass('zitto');
				} else {
				$("audio").prop('muted', true);
				$(this).toggleClass('zitto');
			}
		});
