extends components/nm-layout.pug

block append meta
	meta(name='description', content='I migliori siti web responsive e shop online professionali. Dal design al prodotto finale, SEO e promozione online. Visita il nostro sito.')
block append title
	- var customTitle = "Agenzia Grafica e Web Design in Ticino"
	title #{customTitle} - #{defaultTitle}
//-	block append style
//-	block append scripts-header
//-	block append ie

block content
	style.
		header .hamburger .line {background:#006096;}
	//-	Body
	//-	Netmilk Studio
	section.netmilk_studio.vidbg-box-3
		.nm-logo#rubber
			a(href="index.html" alt="Netmilk Studio - Home Page")
				img(src="img/netmilk_logo_blue.svg", alt="Netmilk Studio Logo")
		h1 Gradisci?<br><br>&Egrave; design genuino.
		.cliccaoscorri.opacity-0.hidden-xs
			img(src="img/bevioscorri.svg", alt="Clicca o Scorri")
		a.scroller(href='#start')
			.scroll-down.blue.svg
				svg#Layer_2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 25.166666 37.8704414', enable-background='new 0 0 25.166666 37.8704414', xml:space='preserve')
					path.stroke(fill='none', stroke='#006096', stroke-width='2.5', stroke-miterlimit='10', d='M12.5833445 36.6204414h-0.0000229C6.3499947 36.6204414 1.25 31.5204487 1.25 25.2871208V12.5833216C1.25 6.3499947 6.3499951 1.25 12.5833216 1.25h0.0000229c6.2333269 0 11.3333216 5.0999947 11.3333216 11.3333216v12.7037992C23.916666 31.5204487 18.8166714 36.6204414 12.5833445 36.6204414z')
					path.scroller(fill='#006096', d='M13.0833359 19.2157116h-0.9192753c-1.0999985 0-1.9999971-0.8999996-1.9999971-1.9999981v-5.428606c0-1.0999994 0.8999987-1.9999981 1.9999971-1.9999981h0.9192753c1.0999985 0 1.9999981 0.8999987 1.9999981 1.9999981v5.428606C15.083334 18.315712 14.1833344 19.2157116 13.0833359 19.2157116z')

	section.mammatriangola#start
		.triangolo_top
		.triangolo_bottom
		.container-fluid
			.col-sm-12
				.titoli
					h1(data-aos="fade-down" data-aos-anchor-placement="bottom-bottom" data-aos-offset="100")
						span.serif Chi
						span.sans Siamo
					h2(data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-offset="200") Dove andiamo, e perché
			.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
				.matite 
					img.cerchio(src="img/crayons.png")
					p.intro Siamo un’agenzia creativa fatta di scrivanie bianche e razionali, ma anche orchidee colorate, matite e pennarelli, stampe alle pareti e bozze appuntate al sughero, musica, clienti e visitatori con una smodata passione per il caffè (o per la nostra compagnia), idee e progetti ambiziosi, collaboratori eccezionali e un insano culto del “far bene”.<br><br>Sebbene ci sentiamo un po’ artisti e un po’ nerd, nessuno di noi parla in babilonese informatico. Ci piace essere chiari e farci capire.
		.container.cosafacciamo
			.col-sm-6
				.imgswitch.design
					img.lazyload(src="img/studio/icon_design.png" alt='Graphic Design')
				p.text-center Facciamo design<br><em>Ed anche i disegnini.</em>
			.col-sm-6
				.imgswitch.stampa
					img.lazyload(src="img/studio/icon_stampa2.png" alt='Servizi di Stampa')
				p.text-center Stampiamo di tutto<br><em>Ovunque, gatti esclusi.</em>
			.col-sm-6
				.imgswitch.web
					img.lazyload(src="img/studio/icon_web.png" alt='Web Design')
				p.text-center Sviluppiamo siti web<br><em>A mano, come faceva il nonno.</em>
			.col-sm-6
				.imgswitch.photo
					img.lazyload(src="img/studio/icon_photo.png" alt='Foto e Video Shooting')
				p.text-center Facciamo video e foto<br><em>Dagherrotipo sempre in caldo.</em>
		hr
		.container.risultati
			.col-sm-6
				img.center-block.img-responsive.lazyload(src="img/icon_star.png" alt='Web SEO Google')
				p I risultati parlano da soli. I siti dei nostri clienti sono tutti in prima pagina di Google, nella gran parte dei casi, tra i primi tre risultati.
			.col-sm-6
				img.center-block.img-responsive.lazyload(src="img/icon_ok.png" alt='Campagne Stampa e Social')
				p Le nostre campagne social portano le persone al vostro sito. I nostri poster stradali, flyer e libretti portano la gente nelle attività.
		.container.privacy
			.col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				p 
					| Amiamo rispettare la privacy dei committenti, molti degli ingaggi che riceviamo provengono da aziende ed altre agenzie e sono coperti da un vincolo di riservatezza. Saremo più che felici di mostrarti questi traguardi di persona quando ci contatterai.<br><br>Ed ora cosa ne dici di guardare un po' dei nostri lavori?
					a(href="case-studies.html")
						button.btn-t-blue.center-block Esplora i case studies
				
	//Footer block
	include components/nm-footer
