extends components/nm-layout.pug

block append meta
	meta(name='description', content='servizio studies di Netmilk, i nostri lavori ed il nostro approccio al progetto.')
block append title
	- var customTitle = "Portfolio lavori di Web Design"
	title #{customTitle} - #{defaultTitle}
//-	block append style
//-	block append scripts-header
//-	block append ie

block content

	//-	Body
	//-	Contenuto servizio Studies
	section.servizi-p-intro
		.nm-logo#rubber
			a(href="index.html" alt="Netmilk Studio - Home Page")
				img(src="img/netmilk_logo.svg", alt="Netmilk Studio Logo")
		.titoli 
			h1(data-aos="fade-down" data-aos-anchor-placement="top-center")
				span.serif i Nostri
				span.sans Servizi
		.container
			p.breve-descrizione <strong>Netmilk Studio</strong> è una <strong>Agenzia di pubblicità e comunicazione Svizzera</strong> con base nel <strong>Canton Ticino</strong>. Siamo particolarmente apprezzati come <strong>Web Agency</strong> per i nostri servizi di <strong>Web Design, Web Marketing</strong>, e per la passione che mettiamo nella realizzazione di <strong>siti web statici, siti web dinamici, <strong>siti di ecommerce</strong>, o basati su <strong>CMS</strong> (Content Management System).  
			p.breve-descrizione C'è da aggiungere che <strong>realizzare un sito web vincente</strong> che attiri il maggior numero di visitatori possibile non è solo questione di freddo <strong>codice</strong>, che pure scriviamo in maniera impeccabile e sempre <strong>ottimizzato</strong> per la migliore comprensione da parte dei <strong>motori di ricerca (SEO)</strong>, le nostre <strong>campagne web</strong> fondano il proprio successo su una profonda conoscenza dei sistemi di <strong>web marketing</strong>, come ad esempio <strong>Google Adwords</strong>. 
			p.breve-descrizione Ci piace sottlineare inoltre che uno dei nostri obiettivi principali è sempre stato, e sempre sarà, quello di realizzare supporti che oltre ad essere efficaci siano belli, innovativi e che sappiano distinguersi dalla massa. Proprio per questo, sfruttando la grande esperienza maturata come <strong>Studio Grafico</strong> realizzando <strong>manifesti, cartelloni, flyer, volantini, cataloghi, brochures, cartelline, biglietti da visita, logo,</strong> e qualsiasi supporto abbia attinenza con una <strong>immagine coordinata vincente</strong>, siamo in grado di trasferire in qualsiasi progetto un <strong>design</strong> sempre elegante, <strong>innovativo</strong> e accattivante. 
	
	section.elenco-servizi
		.container
			.row.equal
				.col-md-5.col-sm-12.immagine
						<br />
				.col-md-7.col-sm-12
					h2 
						a(href="servizi-web.html" alt="Netmilk Studio - Consulenza e Progettazione siti web") Consulenza e Progettazione Web
					ul 
						li Progettazione bozze grafiche siti web
						li Siti web statici
						li Siti web dinamici
						li Siti di Ecommerce
						li Siti web Basati su CMS 
						li Restyling siti web
						li Interventi su siti web esistenti
			.row.equal
				.col-md-5.col-sm-12.immagine
						<br />
				.col-md-7.col-sm-12
					h2 Webmarketing e Direct Mail Marketing
					ul
						li Ottimizzazione dei testi (SEO) 
						li Ottimizzazione degli url (SEF)
						li Progettazione e realizzazione Banner Pubblicitari
						li Progettazione e realizzazione Landing Pages
						li Social Media Managing
						li Impostazione, gestione e monitoraggio campagne  
						li Progettazione e realizzazione Templates Grafici per Newsletter
						li Progettazione e realizzazione gestionali Newsletter per Siti Dinamici
					
					
			.row.equal
				.col-md-5.col-sm-12.immagine
					<br />
				.col-md-7.col-sm-12
					h2 Consulenza e Progettazione Grafica
					ul
						li Immagine Coordinata 
							.serv_description (Marchio, Logotipo, Carta intestata, Busta per Lettere, Biglietti da Visita, Fatture e bolle di consegna, Gadget Aziendali, Listini Prezzi, etc.) 
						li Pubblicità da distribuzione 
							.serv_description (Depliant, Volantini e Flyers, Cataloghi, Menu e Brochures, etc.) 
						li Pubblicità da affissione 
							.serv_description (Manifesti e Locandine 700x100, Manifesti e Locandine 50x70, 6x3 e 4x3 cartacei e retroilluminati, etc.)
						li Pubblicità per Esterni 
							.serv_description (Vetrine, Insegne, etc.)
						li Pubblicità per giornali e riviste
			.row.equal
				.col-md-5.col-sm-12.immagine
					<br />
				.col-md-7.col-sm-12
					h2 Scrittura e Copywriting
					ul
						li Testi per siti web
						li Profili Aziendali
						li Cartelle Stampa
						li Schede prodotto
						li Lettere commerciali
						li Testi e Sceneggiature spot audio e video 
						li Newsletter ed E-mail promozionali o di presentazione
						li Digitalizzazione Libri e riviste aziendali
						li Pubbliredazionali
						li Comunicati Stampa
						li Case Studies
						li House Organs (Bollettini Aziendali)
						li White Papers (Libro Bianco)

			.row.equal
				.col-md-5.col-sm-12.immagine
					<br />
				.col-md-7.col-sm-12
					h2 Foto
					ul
						li Servizi Fotografici in Sala Pose
						li Servizi Fotografici in Still Life
						li Servizi Fotografici per la moda
						li Reportages Fotografici Eventi
						li Fotoritocco e Fotomontaggio
						li Correzione Colore e Color Grading

			.row.equal
				.col-md-5.col-sm-12.immagine
					<br />
				.col-md-4.col-sm-12
					h2 Video/Audio
					ul
						li Riprese Audio e Video
						li Montaggi Audio e Video
						li Gestione canali Youtube/Vimeo
						li Video Aziendali
						li Video Personali
						li Video Reportages Eventi

	//Footer block
	include components/nm-footer
