doctype html
html(lang='it')
	head
	meta(charset='utf-8')
	title Pagina non trovata
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(href='https://fonts.googleapis.com/css?family=Alfa+Slab+One', rel='stylesheet')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css', integrity='sha256-t2/7smZfgrST4FS1DT0bs/KotCM74XlcqZN5Vu7xlrw=', crossorigin='anonymous')
	style.
		body,html,.container {
			margin:0; 
			padding:0;
			height: 100vh;
			width: 100%;
			background-color: #B9D3E2;
		}
		h1,h2,a {
			font-family: 'Alfa Slab One', Helvetica, Verdana, sans-serif, cursive;
		}
		h1 {
			font-size: 55px;
			margin:0;
			padding: 0;
			line-height: 1.45em;
			color: #002c45;
		}
		a {
			font-size: 40px
		}
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		img {
			margin-top:40px;
			width:100%;
			max-width:750px;
			height: auto;
		}
		a,a:visited,a:hover,a:focus {
			margin-top:30px;
			color: #006096;
			text-decoration: none;
		}
		a:hover,a:focus {
			text-decoration: underline;
		}
	body
		.container
			h1 404
			h1 Pagina non trovata
			img(src="img/404.svg")
			a(href="index.html") Torniamo su Netmilk?
