extends components/nm-layout.pug

block append meta
	meta(name='description', content='Lo sviluppo del web site per Kager Haus Schweiz commissionato a Netmilk Studio.')
block append title
		- var customTitle = "Kager Haus Schweiz - servizio "
		title #{customTitle} - #{defaultTitle}
block append style
block append scripts-header
block append ie

block content

	//-	Body
	//-	servizio  Kager
	section.servizio-splash.kager
		.nm-logo#rubber
			a(href="index.html" alt="Netmilk Studio - Home Page")
				img(src="img/netmilk_logo.svg", alt="Netmilk Studio Logo")
		.testi-wrapper
			h1.animated.fadeIn Riflettere l'eccellenza costruittiva, in un design digitale.
			h2.animated.fadeIn Web Design, SEO
			img.brand.animated.fadeIn(src="img/servizi/logo/kager_haus_logo_w.svg", alt="Kager Haus Logo")
		a.scroller(data-scroll href='#start')
			.scroll-down.white.svg
				svg#Layer_2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 25.166666 37.8704414', enable-background='new 0 0 25.166666 37.8704414', xml:space='preserve')
					path.stroke(fill='none', stroke='#fff', stroke-width='2.5', stroke-miterlimit='10', d='M12.5833445 36.6204414h-0.0000229C6.3499947 36.6204414 1.25 31.5204487 1.25 25.2871208V12.5833216C1.25 6.3499947 6.3499951 1.25 12.5833216 1.25h0.0000229c6.2333269 0 11.3333216 5.0999947 11.3333216 11.3333216v12.7037992C23.916666 31.5204487 18.8166714 36.6204414 12.5833445 36.6204414z')
					path.scroller(fill='#fff', d='M13.0833359 19.2157116h-0.9192753c-1.0999985 0-1.9999971-0.8999996-1.9999971-1.9999981v-5.428606c0-1.0999994 0.8999987-1.9999981 1.9999971-1.9999981h0.9192753c1.0999985 0 1.9999981 0.8999987 1.9999981 1.9999981v5.428606C15.083334 18.315712 14.1833344 19.2157116 13.0833359 19.2157116z')

	#start
	//- servizio  Hero
	section.servizio-hero
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1(data-aos="fade-down") La vita non &egrave; tipica.<br>Nemmeno le servizio Kager.
					p Kager Haus &egrave; una azienda Slovena, che rappresenta da pi&ugrave; di 30 anni l'eccellenza nella qualit&agrave; costruttiva di abitazioni prefabbricate. Frutto del genio di un ingegnere con straordinaria lungimiranza.<br>Quando nel 2012 il direttore della giovane Kager Haus Schweiz ci chiam&ograve; per parlarci del suo progetto di portare questo marchio in Svizzera, eravamo un'agenzia aperta da poco meno di un anno, con l'esperienza di molti progetti alle spalle, ma ancora pochi big player nel portfolio.<br>A quanto pare il nostro investimento nella qualit&agrave; aveva contato qualcosa, e fieri di questo credito di fiducia, dopo aver ascoltato e compreso la loro visione per una nuova forma di costruire, con l'uso dei materiali nobili, legno, vetro e acciaio, a impatto zero e in tempi impensabili per l'edilizia tradizionale, ci innamorammo del progetto e cominciammo a guardare lontano.<br><br>Sviluppammo insieme il primo webdesign che port&ograve; alle prime visite via web e una buona posizione nei motori di ricerca rispetto ad una concorrenza gi&agrave; ben assestata sul mercato Ticinese. In quel momento si consolid&ograve; il rapporto con uno dei clienti di cui facciamo ancora oggi maggior vanto. &Egrave; stato grazie al successo di questa azienda sul mercato che dopo 3 anni abbiamo progettato il sito attualmente online, la seconda versione, pi&ugrave; consapevole dell'anima di Kager, leggera ma solida, trasparente ma evidente, foriera di successi ancora pi&ugrave; grandi.

	//- servizio  Stock 01
	section.servizio-stock
		img.lazyload(src="img/servizi/kager/kager_stock-01.jpg", alt="Kager Haus - Cantiere")

	//- servizio  Approfondimento
	section.servizio-hero
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1(data-aos="fade-down") Coinvolgere e convincere un mercato esigente.
					h2(data-aos="fade-down") Un'azienda ambiziosa e consapevole.
					p(data-aos="fade") Il concetto portante delle servizio Kager si riassume nel loro motto, visionario eppure quotidiano: Luce, Natura, Casa, Vita.<br>Il sistema di costruzione innovativo, che prevede moduli prefabbricati realizzati nella casa madre in Slovenia, un montaggio qualificato da parte degli operai specializzati dell'azienda, ma coinvolgendo per lo scavo ed i successivi lavori, le maestranze locali, conferisce a queste servizio le caratteristiche di unicit&agrave; e personlizzazione che le distinguono da tutte le altre. Una differenza che salta agli occhi nelle molteplici raffinatezze costruttive.<br><br>La sfida per noi, &egrave; stata quella di cogliere l'anima dell'azienda, la sobriet&agrave; e la leggerezza degli ambienti, ma anche il senso di libert&agrave; della progettazione.

	//- servizio  Mockup
	section.servizio-mockup
		img.lazyload(src="img/servizi/kager/kager_mockup.jpg", alt="Kager Haus - Mockup")

	//- Esempi
	section.servizio-hero
		.container
			.row
				.col-sm-6.col-sm-offset-1
					h1(data-aos="fade-down") servizio su misura, icone su misura.
					h2(data-aos="fade-down") Ogni parte del sito &egrave; stata disegnata appositamente.
					p(data-aos="fade") Per trasmettere in modo semplice ma preciso il senso di personalizzazione e unicit&agrave; di ogni casa, abbiamo lavorato di cesello e prodotto diverse versioni di molte icone, arrivando poi a raffinare il risultato finale in una serie di riferimenti grafici che fossero semplici da interpretare ed esteticamente uniformi tra loro.
				.col-sm-4
					img(src="img/servizi/kager/kager_icon.svg", alt="Kager Haus - Icone su Misura")

	//-	Visit and more
	section.visit
		a.external(href="http://kager-haus.ch", target="_blank") 
			button.btn-t-blue Visita il sito Kager-Haus Schweiz
			

	//-	Prev Next
	section.prevnext
		.container-fluid
			a.col-xs-6.left(href="servizio_lml.html" alt="LML Italia - servizio ")
				img.freccina(src="img/caret-left.svg" alt='Left Caret')
				p.hidden-xs Progetto Precedente
			a.col-xs-6.right(href="servizio_linkem.html" alt="Link'em - servizio ")
				p.hidden-xs Progetto Successivo
				img.freccina(src="img/caret-right.svg" alt='Right Caret')

	//Footer block
	include components/nm-footer
