extends components/nm-layout.pug

block append meta
	meta(name='description', content='Netmilk Studio Web Agency - Progettazione e sviluppo siti web.')
block append title
		- var customTitle = "Progettazione e sviluppo siti web "
		title #{customTitle} - #{defaultTitle}
block append style
block append scripts-header
block append ie

block content

	//-	Body
	//-	servizio  Kager
	section.servizio-splash.servizi-web
		.nm-logo#rubber
			a(href="index.html" alt="Netmilk Studio - Home Page")
				img(src="img/netmilk_logo.svg", alt="Netmilk Studio Logo")
		.testi-wrapper
			h1.animated.fadeIn Progettazione e sviluppo web.
			h2.animated.fadeIn Solo progetti artigianali, come nella migliore tradizione.
		a.scroller(data-scroll href='#start')
			.scroll-down.white.svg
				svg#Layer_2(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 25.166666 37.8704414', enable-background='new 0 0 25.166666 37.8704414', xml:space='preserve')
					path.stroke(fill='none', stroke='#fff', stroke-width='2.5', stroke-miterlimit='10', d='M12.5833445 36.6204414h-0.0000229C6.3499947 36.6204414 1.25 31.5204487 1.25 25.2871208V12.5833216C1.25 6.3499947 6.3499951 1.25 12.5833216 1.25h0.0000229c6.2333269 0 11.3333216 5.0999947 11.3333216 11.3333216v12.7037992C23.916666 31.5204487 18.8166714 36.6204414 12.5833445 36.6204414z')
					path.scroller(fill='#fff', d='M13.0833359 19.2157116h-0.9192753c-1.0999985 0-1.9999971-0.8999996-1.9999971-1.9999981v-5.428606c0-1.0999994 0.8999987-1.9999981 1.9999971-1.9999981h0.9192753c1.0999985 0 1.9999981 0.8999987 1.9999981 1.9999981v5.428606C15.083334 18.315712 14.1833344 19.2157116 13.0833359 19.2157116z')

	#start
	//- servizio  Hero
	section.servizio-hero
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1(data-aos="fade-down") Abbiamo visto il web crescere a forza di bicchieri di latte genuino.
					p Realizzare un testo che al suo interno abbia le parole: "Progettazione bozze grafiche siti web, Siti web statici, Siti web dinamici, Siti di Ecommerce, Siti web Basati su CMS, Restyling siti web, Interventi su siti web esistenti".
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

	//- servizio  Stock 01
	section.servizio-stock
		img.lazyload(src="img/servizi/progettazione-web/progettazione-web-2.jpg", alt="Servizi Web")

	//- servizio  Approfondimento
	section.servizio-hero
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1(data-aos="fade-down") L'assistenza Netmilk.
					h2(data-aos="fade-down") Un bicchiere al giorno leva il medico di torno.
					p(data-aos="fade") Parliamo di quanto siamo belli e di quanto siamo bravi, e di come se, affidandoti a noi, riceverai assistenza sempre pronta competente e bla bla bla.<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


	//Footer block
	include components/nm-footer
