html {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #111;
	overflow: hidden;
	background-image: radial-gradient(rgba(96, 0, 255, 0.25), rgba(96, 0, 255, 0.05));
	background: -webkit-radial-gradient(circle, rgba(96, 0, 255, 0.25), rgba(96, 0, 255, 0.05)) #111;
	background-image: -moz-radial-gradient(50% 50%, circle, rgba(96, 0, 255, 0.25) 50%, rgba(96, 0, 255, 0.05) 100%);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover
}

html {
    overflow: auto
}
.eightbitrama {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	cursor: url('cursor.png') 0 0, default!important;
}
img {
	width:100%;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}
img.netmilk {
	max-width: 800px;
}
img.startrek {
	max-width: 800px;
	background-blend-mode: darken;
}
.speaker {
  height: 60px;
  width: 60px;
  position: fixed;
	top: 40px;
	right: 50px;
  overflow: hidden;
  display: inline-block;
	cursor: pointer!important;
}
.speaker:hover {
	cursor: url('pointer.png') 0 0, default!important;
}
.speaker span {
  display: block;
  width: 16px;
  height: 16px;
  background: #2ba9ff;
  margin: 22px 0 0 4px;
}
.speaker span:after {
	/*Triangolo*/
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #2ba9ff transparent transparent;
  border-width: 20px 28px 20px 30px;
  left: -26px;
  top: 10px;
}
.speaker span:before {
	/*Onde sonore*/
  transform: rotate(45deg);
  border-radius: 0 50px 0 0;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-style: double;
  border-color: #fe3670;
  border-width: 14px 14px 0 0;
  left: 36px;
  top: 18px;
  transition: all 0.2s ease-out;
}
.speaker:hover span:before {
  transform: scale(0.8) translate(-6px, 0) rotate(42deg);
}
.speaker.zitto span:before {
  transform: scale(0.5) translate(-30px, 0) rotate(36deg);
  opacity: 0;
}
a.getback {
	font-family:sans-serif;
	font-size:16px;
	font-weight: bold;
	text-decoration: none;
	color:white;
	padding-top: 20px;
	transition: all 0.5s ease;
	text-transform: uppercase;
	letter-spacing:0.5px;
}
a.getback:hover {
	transform: scale(1.05);
	cursor: url('pointer.png') 0 0, default!important;
}

@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes bzzz {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.bzzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.bzzz:hover, .bzzz:focus, .bzzz:active {
  -webkit-animation-name: bzzz;
  animation-name: hvr-wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
